#Force https & www:
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule .* https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript application/json
</IfModule>

<filesMatch "\.([hH][tT][mM][lL]?)">
   Header add Link "<<!-- htaccess:css --><!-- endinject -->>;rel=preload;as=style,<<!-- htaccess:js --><!-- endinject -->>;rel=preload;as=script"
</filesMatch>

# One year for image files
<filesMatch ".(jpg|jpeg|png|gif|ico)$">
Header set Cache-Control "max-age=31536000, public"
</filesMatch>

# One month for css, svg and js
<filesMatch ".(css|js|svg)$">
Header set Cache-Control "max-age=2628000, public"
</filesMatch>

# Sin cache para Service Worker
<Files /trabajador.js>
  Header set Cache-control "max-age=0, no-cache, no-store, must-revalidate"
</Files>

<Files .htaccess>
order allow,deny
deny from all
</Files>