---
layout: default
tipo: ItemPage
dataLayer: 
  { pageCategory: sucursal,
  tieneFormulario: true }
---

{% include partes/googleMap.html color=page.color %}

<div class="envoltura">
  {% include partes/breadcrumbs.html %}

  <h1 class="ma0">Ecotecnologías en {{page.nombre}}, {{page.estado}}</h1>

  <div class="row flex flex-row-reverse mt3 sm:flex-column">
    <div class="column">
      <p class="ma0">{{ page.slogan }}</p>
      <a href="{{ site.url }}/ecotecnologias/" class="boton naranja ma0 mt1.5">Catálogo de ecotecnologias</a>
  {%- if page.sucursales -%}
    {%- for local in page.sucursales -%}
      <h2 class="sucursal_local azul b ma0">{{ local.colonia }}</h2>

      <h3 class="b ma0 mt1.5">Dirección:</h3>
      <p class="ma0">
        {{ local.direccion1 }}
        {% if local.direccion2 %}, {{ local.direccion2 }}{% endif %}
        , {{ local.colonia }}
        <span class="mh0.5">|</span> {{ page.ciudad }}, {{ page.estado }} <span class="mh0.5">|</span> C.P. {{ local.cp }}
      </p>
      {% if local.placeid %}<a href="https://www.google.com/maps/dir/?api=1&destination=JR%20Ecotecnolog%C3%ADa&destination_place_id={{ local.placeid }}">¿Cómo llegar?</a>{% endif %}

      <h3 class="b ma0 mt1.5">Horario de atención:</h3>
      <p class="ma0">{% include partes/horario horario=local.horario %}</p>

      <h3 class="b ma0 mt1.5">Contáctanos:</h3>
      <p class="ma0">Teléfono: {% include partes/telefono tel=local.tel noicon=1 %} <span class="mh0.5">|</span> Correo: {% include partes/e-mail e-mail=local.correo noicon=1 %}</p>
      {% if local.facebook %}<p class="ma0">Facebook: <a href="{{ local.facebook }}" class="facebook">{{ local.facebook | remove: "https://www.facebook.com/" | remove: "/" }}</a></p>{% endif %}
      {% if local.gplus %}<p class="ma0">Google+: <a href="{{ local.gplus }}" class="googleplus">{{ local.gplus | remove: "https://plus.google.com/" | remove: "/" }}</a></p>{% endif %}
    {%- endfor -%}
  {%- else -%}
      <h2 class="sucursal_local azul b ma0">{{ page.colonia }}</h2>

      <h3 class="b ma0 mt1.5">Dirección:</h3>
      <p class="ma0">
        {{ page.direccion1 }}
        {% if page.direccion2 %}, {{ page.direccion2 }}{% endif %}
        , {{ page.colonia }}
        <span class="mh0.5">|</span> {{ page.ciudad }}, {{ page.estado }} <span class="mh0.5">|</span> C.P. {{ page.cp }}
      </p>
      {% if page.placeid %}<a href="https://www.google.com/maps/dir/?api=1&destination=JR%20Ecotecnolog%C3%ADa&destination_place_id={{ page.placeid }}">¿Cómo llegar?</a>{% endif %}

      <h3 class="b ma0 mt1.5">Horario de atención:</h3>
      <p class="ma0">{% include partes/horario horario=page.horario %}</p>

      <h3 class="b ma0 mt1.5">Contáctanos:</h3>
      <p class="ma0">Teléfono: {% include partes/telefono tel=page.tel noicon=1 %} <span class="mh0.5">|</span> Correo: {% include partes/e-mail e-mail=page.correo noicon=1 %}</p>
      {% if page.facebook %}<p class="ma0">Facebook: <a href="{{ page.facebook }}" class="facebook">{{ page.facebook | remove: "https://www.facebook.com/" | remove: "/" }}</a></p>{% endif %}
      {% if page.gplus %}<p class="ma0">Google+: <a href="{{ page.gplus }}" class="googleplus">{{ page.gplus | remove: "https://plus.google.com/" | remove: "/" }}</a></p>{% endif %}
  {%- endif -%}
    </div>
    <div class="column sucursal_sidebar">
      <figure class="intrinsic intrinsic--square ma0 sm:display-none">
        <img data-sizes="auto"
          src="{{ site.url }}/assets/img/sucursales/{{ page.slug }}-25.jpg"
          data-srcset="{{ site.url }}/assets/img/sucursales/{{ page.slug }}-25.jpg 25w,
              {{ site.url }}/assets/img/sucursales/{{ page.slug }}-200.jpg 200w,
              {{ site.url }}/assets/img/sucursales/{{ page.slug }}-300.jpg 300w,
              {{ site.url }}/assets/img/sucursales/{{ page.slug }}-400.jpg 400w,
              {{ site.url }}/assets/img/sucursales/{{ page.slug }}-600.jpg 600w,
              {{ site.url }}/assets/img/sucursales/{{ page.slug }}-800.jpg 800w"
          class="intrinsic-item lazyload blur-up" alt="{{ site.title }} {{ page.nombre }}" />
      </figure>
      <div class="blanco bg-naranja mt3 pa1">
        <form action="{{ site.owner.formsurl }}" method="post" id="form{{ page.nombre }}">
          <h2 class="mt0">Contacta a esta sucursal</h2>
  
          <label for="frm-nombre">Nombre *</label>
          <input type="text" name="nombre" id="frm-nombre" class="input" required />
  
          <label for="frm-correo">Correo *</label>
          <input type="email" name="correo" id="frm-correo" class="input" required />
  
          <label for="frm-tel">Teléfono</label>
          <input type="tel" name="telefono" id="frm-tel" class="input" pattern="[0-9]*" />
  
          <label for="frm-msg">¿En qué te podemos ayudar?</label>
          <textarea id="frm-msg" name="mensaje" class="input" spellcheck="true" rows="5" cols="50"></textarea>
  
          <input type="hidden" name="_subject" value="Contacto desde JRecotecnologia.com ({{ page.nombre }})" />
          <input type="text" name="_gotcha" style="display:none" />
          <div class="sucursal__Form__boton">
            <button id="frm-enviar" type="submit" class="boton blanco">Contactar a {{ page.nombre }}</button>
          </div>
          <span class="error">Por favor llena los campos requeridos.</span>
        </form>
      </div>
    </div>
  </div>
</div>

{% include partes/cta-mejoramiento.html %}

{% include jsonld/jsonld webpage=1 sucursal=1 %}
