$steeler-fill1: rgba(#49587a, 0.8);
$steeler-fill2: rgba(#95a8b1, 0.3);

@keyframes star {
  0%   { opacity: 1.0; }
  20%  { opacity: 0.2; }
  50%  { opacity: 0.7; }
  70%  { opacity: 0.1; }
  100% { opacity: 1.0; }
}

@keyframes burst {
  0%   { opacity: 1.0; fill: #e4522a; transform: scale(1);  transform-origin: center center; }
  50%  { opacity: 0.9; fill: #c14625; transform: scale(0.7);  transform-origin: center center; }
  60%  { opacity: 0.9; fill: #ed9025; transform: scale(1.1);  transform-origin: center center; }
  70%  { opacity: 0.9; fill: #c14625; transform: scale(0.9);  transform-origin: center center; }
  100% { opacity: 1.0; fill: #e4522a; transform: scale(1);  transform-origin: center center; }
}

@keyframes steeler {
  0%   { opacity: 1.0; fill: $steeler-fill1; transform: scale(1);   transform-origin: center center; }
  40%  { opacity: 0.9; fill: #95a8b1;        transform: scale(0.7); transform-origin: center center; }
  70%  { opacity: 0.9; fill: $steeler-fill1; transform: scale(1.1); transform-origin: center center; }
  100% { opacity: 1.0; fill: $steeler-fill2; transform: scale(0.9); transform-origin: center center; }
}

.star { fill: #efa922; animation: star 5s linear infinite; }
.burst { fill: #e4522a; animation: burst 1s linear infinite; }
.steeler { fill: $steeler-fill1; animation: steeler 2s linear infinite; }

@for $i from 1 through 19 {
  $delay: ($i * 0.1) * 1.0s;
  .ad-#{$i} { animation-delay: $delay; }
}