.estado {
  /* fill: #44AC64; */
  fill: #fdfaec;
  stroke-width: 0.25;
  stroke: #727272;
  transition: fill .9s ease-out;
}

.estado:hover {
  fill: #efa707;
  /*fill: #44ac64;*/
}

#sucursales {
  .pin {
    stroke-width: 0;
  }
  .circulo1 {
    stroke-width: 0;
    transition: all 0.3s ease-in-out;
  }
  .rect1 {
    stroke-width: 0;
    transition: all 0.3s ease-in-out;
  }
  .circulo2 {
    fill: #fff;
    stroke-width: 0;
    transition: all 0.3s ease-in-out;
  }
  .rect2 {
    fill: #fff;
    stroke-width: 0;
    transition: all 0.3s ease-in-out;
  }
  .circulo3 {
    fill: #fff;
    stroke-width: 0;
  }
  a {
    text-decoration: none;
  }
  text {
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    font-size: 18px;
    fill: #000;
    transition: opacity 0.2s ease;
    transition-delay: 0.2s;
  }
}