---
layout: default
title: ¿Por qué elegir Green Fix?
description: "Atención, participación, coordinación, tecnología y servicio."
permalink: /por-que-elegir-green-fix/
bodyClass: siteEmpresa
tipo: AboutPage
---

<div class="row">
  <div class="column column-75 siteEmpresa__col1">
    <img src="/assets/img/empresa.jpg" class="siteEmpresa__imgIzq">
    <h4><strong>¿Por qué elegir Green Fix</strong></h4>
    <ul>
      <li>En Green Fix otorgamos atención a las necesidades de servicios de todos nuestros clientes; desarrollando un plan de trabajo especifico que responda a sus necesidades y expectativas particulares.</li>
      <li>Siempre buscamos tener una total participación con el cliente, a manera de alianza estratégica de negocio, para así obtener los mejores niveles de empatía y comunicación, utilizando las experiencias de ambos y lograr un trabajo en equipo.</li>
      <li>Contamos con una gran estructura de coordinación y supervisión para verificar mediante visitas de inspección y auditorias de calidad, el cumplimiento de los objetivos y programas de trabajo.</li>
      <li>Ofrecemos el uso de equipo y maquinaria con tecnología de punta, que garanticen calidad de desempeño y resultados de nuestro trabajo. Antes de iniciar el servicio, llevamos a cabo un diagnostico de necesidades para definir los programas de trabajo y sus rutinas aplicables a cada caso.</li>
      <li>Tenemos el cuidado de seleccionar y capacitar a nuestro personal para permitir mayor eficiencia y atención a los detalles del servicio.</li>
      <li>Sólo utilizamos insumos y suministros de primera calidad, biodegradables y a favor del ambiente ecológico, de marcas de prestigio como Johnson, 3M, Kimberly Clark, Biozone Chemical y Palvi de México.</li>
    </ul>
    <p>Por todo lo anterior esperamos contar con el favor de su preferencia y que nos dé la oportunidad de demostrarles la calidad de nuestros servicios.</p>
  </div>
  <div class="column column-25 siteEmpresa__col2">
    {% include partes/facebook.html %}
  </div>
</div>

<script type='application/ld+json'>
  [
  {% include json-ld/WebPage.json %},
  {% include json-ld/LocalBusiness.json %},
  {% include json-ld/WebSite.json %}
  ]
</script>