---
layout: default
title: Staff
description: "Equipo profesional en la Selección, Contratación y Capacitación de nuestro personal."
permalink: /staff/
bodyClass: siteStaff
---

<div class="row">
  <div class="column column-75 siteStaff__col1">
    <h4><strong>Staff</strong></h4>
    {% include partes/icono.svg icon="apron" %}
    <p>Green Fix comprometido con la seguridad de nuestros clientes cuenta con un equipo profesional en la Selección, Contratación y Capacitación de nuestro personal de tal manera que nos ofrece lo siguiente:</p>
    <img src="/assets/img/staff.jpg" class="siteStaff__imgIzq">
    <ul>
      <li>Personal Investigado y con carta policía.</li>
      <li>Expedientes Electrónicos de nuestro personal.</li>
      <li>Personal capacitado, en teoría y práctica respecto al uso de productos de limpieza, áreas de aseo, lo cual se traduce en una alta calidad de los servicios que prestamos a los clientes.</li>
      <li>Promovemos entre nuestros clientes que el pago de percepciones al personal operativo sea superior al salario mínimo, con el propósito de mantener un mejor nivel de motivación hacia el desempeño del trabajador y reducir al máximo los índices de rotación que tanto nos perjudican en estos tiempos.</li>
      <li>Nos comprometemos a cubrir todos los derechos de nuestro personal y asumir la responsabilidad laboral derivada del servicio contratado por el cliente.</li>
    </ul>
    <p>En Green Fix nuestro personal es lo mas importante por lo tanto cuenta con todas las prestaciones previstas en la L.F.T. así mismo cuenta con una despensa mensual la cual se le otorga en base a su productividad evaluada a través de las supervisiones de sus áreas de trabajo e imagen.</p>
    <blockquote>
      <h4>Uniformes</h4>
      {% include partes/icono.svg icon="shirt" %}
      <p>Por imagen y seguridad, otorgamos a nuestro personal operativo uniforme institucional y credencial de identificación para facilitar su localización y control.</p>
    </blockquote>
  </div>
  <div class="column column-25 siteStaff__col2">
    {% include partes/facebook.html %}
  </div>
</div>
 
<script type='application/ld+json'>
  [
  {% include json-ld/WebPage.json %},
  {% include json-ld/WebSite.json %}
  ]
</script>