{
	"extends": ["plugin:vue/recommended", "airbnb"],
	"parserOptions": {
		"parser": "babel-eslint",
    "allowImportExportEverywhere": true
  },
	"rules": {
		"no-param-reassign": [2, {
			"props": false
		}],
		"implicit-arrow-linebreak": ["off"] 
	},
}