body {
  color: $text-color;
  margin: 0;
  
  @media (min-width: 40rem) {
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.3' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: repeat;
    background-position: top left;
    background-attachment: scroll;
    padding-top: $spacing-unit;
  }
}

main.container {
  background-color: $blanco;
  padding-top: $spacing-unit;
}

.column {
  @media (max-width: 40rem) {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }
}

.h3 {
  font-size: 2.8rem;
	line-height: 1.3;
}