.siteHeader {
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-color: $brand-color3;
  padding-top: $spacing-unit;
  
  @media (min-width: 4rem) {
    .row {
      flex-direction: row;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
//         LOGO, TELÉFONOS Y FACEBOOK
////////////////////////////////////////////////////////////////////////////////

$breakpoint-icono-telefono: 32rem;

.siteHeader__top {
  padding: 0;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $breakpoint-icono-telefono) {
    align-items: flex-start;
  }
  @media (min-width: 40rem) {
    padding: 0 $spacing-unit / 2;
  }
}

.siteHeader__logo {
  flex: 1 0 12em;
}

.siteHeader__telefonos {
  flex: 0 1 5em;
  text-align: right;
  
  @media (min-width: $breakpoint-icono-telefono) {
    flex-basis: 8em;
    text-align: left;
  }
}

.siteHeader__telefono {
  display: none;
  margin: 0;

  .phone-number {
    font-size: 2rem;
  }
  
  @media (min-width: $breakpoint-icono-telefono) {
    display: block;
  }
}

.phone-number.phone-mobile {
  display: block;
  
  .icon {
    width: 5rem;
    height: 5rem;
    fill: $brand-color2;
  }
  
  @media (min-width: $breakpoint-icono-telefono) {
    display: none;
  }
}

.siteHeader__social {
  display: none;
  margin-left: $spacing-unit;
  
  @media (min-width: 40rem) {
    display: block;
  }

  svg {
    fill: #3b5998;
  }
}


////////////////////////////////////////////////////////////////////////////////
//         NAVEGACIÓN
////////////////////////////////////////////////////////////////////////////////

.siteHeader__menu.row {
  flex-direction: row-reverse;
  position:relative;
}

.siteHeader__menuPrincipal {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  top: 4.5rem;
  right: -2rem;
  background-color: $brand-color3;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: left top;
  transition-property: transform, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;

  &.activo {
    opacity: 1;
    transform: scaleY(1);
  }

  @media (min-width: 40rem) {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: 0;
    right: 0;
    z-index: 0;
    opacity: 1;
    transform: scaleY(1);
    background-color: transparent;
    padding: 0 $spacing-unit / 2;
  }
}

.siteHeader__menuPrincipal__Item {

}

.siteHeader__menuPrincipal__link {
  color: $text-color;
  padding: $spacing-unit / 2 $spacing-unit;

  @media (min-width: 40rem) {
    position: relative;
    z-index: 1;
    padding-top: $spacing-unit / 2;
    padding-right: $spacing-unit;
    padding-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit;
    
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.7);
      transform: scaleY(0);
      transform-origin: 50% 100%;
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }
  
    &.activo:before {
      transform: scaleY(.1);
      background-color: $brand-color2;
    }
  
    &:hover:before, &.activo:hover:before {
      transform: scaleY(1);
    }
  }
}

.siteHeader__menuPrincipal__toggle {
  color: $text-color;
  line-height: 1;
  padding: 0;
  font-size: 4.5rem;

  @media (min-width: 40rem) {
    display: none;
  }
}

.siteHeader__subMenu {
  display: none;
}