---
layout: default
title: Limpieza General
description: "Nos encargamos del aseo de tus espacios."
permalink: /servicios/limpieza-general/
slug: limpieza-general
---

<div class="row">
  <div class="column column-100">
    <h4>Limpieza General</h4>
    <ul>
      <li>Limpieza de vidrios.</li>
      <li>Lavado de pisos y/o alfombras.</li>
      <li>Encerado y abrillantado de pisos.</li>
      <li>Sacudido de muros, herrería  y cielos.</li>
      <li>Lavado y desinfección de baños.</li>
      <li>Lavado y desinfección de cocina.</li>
    </ul>
  </div>
</div>
 
<script type='application/ld+json'>
  [
  {% include json-ld/WebPage.json %},
  {% include json-ld/Service.json %},
  {% include json-ld/WebSite.json %}
  ]
</script>