<div id="map_canvas" style="border-color: {{ include.color }};"></div>
<script type="text/javascript">

    function initMap() {
      function contentString(nombre, direccion) {
        return '<div id="content">'+
        '<h2 id="firstHeading" class="firstHeading">'+ nombre +'</h2>'+
        '<div id="bodyContent">'+
        '<p>'+ direccion +'</p>'+
        '</div></div>';
      }

      const pin = '<svg xmlns="http://www.w3.org/2000/svg" width="30px" height="40px" viewBox="-17.7 -48.66 36.4 49">'
        + '<path d="M0-48.664c-9.8 0-17.7 7.8-17.7 17.4C-17.7-15.764 0-.66 0-.66s17.7-15.404 17.7-30.604c0-9.6-7.9-17.4-17.7-17.4z" fill="{{ page.color }}"/>'
        + '<circle cx="0" cy="-30.3" r="13" fill="#fff"/></svg>';

      const datos = {
        nombre: '{{ site.owner.name }} {{ page.ciudad }}, {{ page.estado }}',
        locales: [
{%- if page.sucursales -%}
{%- for local in page.sucursales -%}
          {
            direccion: '{{ local.direccion1 }}<br>'+
              {% if local.direccion2 %}'{{ local.direccion2 }}<br>'+{% endif %}
              '{{ local.colonia }}<br>'+
              '{{ page.ciudad }}, {{ page.estado }}<br>'+
              'C.P. {{ local.cp }}',
            ubicacion: {lat: {{ local.lat }}, lng: {{ local.lng }}},
          },
{%- endfor -%}
{%- else -%}
          {
            direccion: '{{ page.direccion1 }}<br>'+
              {% if page.direccion2 %}'{{ page.direccion2 }}<br>'+{% endif %}
              '{{ page.colonia }}<br>'+
              '{{ page.ciudad }}, {{ page.estado }}<br>'+
              'C.P. {{ page.cp }}',
            ubicacion: {lat: {{ page.lat }}, lng: {{ page.lng }}},
          }
{%- endif -%}
        ],
      }

      const map = new google.maps.Map(document.getElementById('map_canvas'), {
        center: datos.locales[0].ubicacion,
        zoom: 12,
        scrollwheel: false,
        scaleControl: true,
        navigationControl: true,
        mapTypeControl: false,
        maptype: 'roadmap',
      });

      const bounds  = new google.maps.LatLngBounds();

      datos.locales.forEach(function(local) {
        const marker = new google.maps.Marker({
          position: local.ubicacion,
          map: map,
          icon: {
            url: 'data:image/svg+xml;charset=UTF-8,' + encodeURIComponent(pin),
            scaledSize: new google.maps.Size(30, 40),
          },
          optimized: false,
          title: datos.nombre,
        });
        const infowindow = new google.maps.InfoWindow({
          content: contentString(datos.nombre, local.direccion),
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
        bounds.extend(local.ubicacion);
      });

      if (datos.locales.length > 1) {
        map.fitBounds(bounds);
        map.panToBounds(bounds);
        const listener = google.maps.event.addListenerOnce(map, "idle", function() {
          if (map.getZoom() > 12) map.setZoom(12);
        });
      }
    }

</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{ site.owner.google.mapsapi }}&callback=initMap">
</script>