<div class="jr__anuncio">
  <div class="wrapper jr__anuncio__wrapper">
    <div class="jr__anuncio__atencion">
      <a href="#" class="atencion__link">Servicio de Atención al Cliente</a>
      <p><strong>Nos interesa responder todas tus dudas e inquietudes.</strong></p>
      <p>Escoge el medio de tu preferencia para contactar a nuestras oficinas centrales:</p>
      <ul>
        <li>Teléfono: {% include partes/telefono tel=3338258247 noicon=1 %}</li>
        <li>Email: {% include partes/e-mail e-mail=site.owner.email noicon=1 %}</li>
        <li><a href="/contacto/">Nuestra página de contacto</a></li>
      </ul>
      <p><strong>¿En qué te podemos ayudar?</strong></p>
    </div>
  </div>
</div>