<footer class="site-footer">
    <div class="wrapper">
        <p>JR Ecotecnología | Nicolás Romero #429 Col. Santa Teresita, Guadalajara, Jal. | Tel. (33)3825-8247 y (33)3826-7767</p>
        <p><a href="{{ site.owner.facebook }}"><svg class="icon"><use xlink:href="#facebook"></use></svg></a>
            <a href="{{ site.owner.google.plus }}"><svg class="icon"><use xlink:href="#google-plus"></use></svg></a>
            <a href="{{ site.owner.linkedin }}"><svg class="icon"><use xlink:href="#linkedin"></use></svg></a></p>
    </div>
</footer>