<footer class="site-footer">
    <div class="wrapper">
        <p>JR Ecotecnología | Nicolás Romero #429 Col. Santa Teresita, Guadalajara, Jal. | Tel. (33)3825-8247 y (33)3826-7767</p>
        <p class="canjealo">Canjea tu <a href="">vale de ecotecnologías</a> de <a href="{{ site.url }}/hipoteca-verde/">Hipoteca Verde</a> con nosotros.</p>
        <p><a href="{{ site.owner.facebook }}"><svg class="icon"><use xlink:href="{% asset_path icons.svg %}#facebook"></use></svg></a>
            <a href="{{ site.owner.google.plus }}"><svg class="icon"><use xlink:href="{% asset_path icons.svg %}#google-plus"></use></svg></a>
            <a href="{{ site.owner.linkedin }}"><svg class="icon"><use xlink:href="{% asset_path icons.svg %}#linkedin"></use></svg></a></p>
        <iframe id='topsolar.org' name='topsolar.org'
            src='http://topsolar.org/ts/bin/contador.asp?email=contacto@jrecotecnologia.com' 
            frameborder='0' framespacing='0' scrolling='no' border='0' 
            width=101 height=54 > 
        </iframe>
    </div>
</footer>