---
layout: con-cabeza
title: Franquicias
description: "Conviértete en proveedor de ecotecnologias invirtiendo en una franquicia de éxito."
permalink: /franquicias/
---

<div class="wrapper">
    <h2>Conviértete en proveedor de ecotecnologias</h2>
    <img src="{{ site.url }}/assets/img/svg/franquicia.svg" alt="Franquicias de ecotecnologias" class="logo-franquicia">
    <div >
        
        <p>Si estas buscando invertir en una franquicia de éxito, le recomendamos invertir en el mercado de la tecnología sustentable y energías renovables.</p>
        <p>En JR Ecotecnología contamos con el mejor esquema de franquicia lo que la convierte en su mejor opción. Estamos seguros de poder trasmitir los beneficios de nuestro sistema a más emprendedores que deseen sumarse nuestra empresa.</p>
        <h3>Da el primer paso al éxito y contáctanos</h3>
        <a href="{{ site.url }}/contacto/" class="boton naranja">¡Quiero una franquicia!</a>
    </div>
</div>
<div class="fondo-gris">
    <div class="wrapper tres-columnas">
        <div>
            <h2>Misión</h2>
            Proporcionar al cliente productos y servicios competitivos de la más alta calidad, en la cantidad y tiempo estipulado y al precio justo.
        </div>
        <div>
            <h2>Visión</h2>
            Ser y funcionar en conjunto como una empresa de comercialización integrada y competitiva, líder de nuestro ramo a nivel Nacional.
        </div>
        <div>
            <h2>Objetivo</h2>
            Promover el uso de productos ecológicos, generando un ahorro en el consumo de luz, agua y gas, en armonía con el medio ambiente.
        </div>
    </div>
</div>
<div class="hojas">
    <div id="ofrecemos">
        <h3 class="h1">Ofrecemos</h3>
        <ul>
            <li>{% include partes/check.svg %}
                <p>Capacitación continua y apoyo constante.</p></li>
            <li>{% include partes/check.svg %}
                <p>Material publicitario.</p></li>
            <li>{% include partes/check.svg %}
                <p>Rentabilidad en todas las líneas de producto y en los servicios que se ofrecen.</p></li>
            <li>{% include partes/check.svg %}
                <p>Venta a diferentes tipos de clientes. (Mayoreo, menudeo y programas gubernamentales).</p></li>
            <li>{% include partes/check.svg %}
                <p>Equipos de demostración.</p></li>
        </ul>
    </div>
    <div id="requisitos">
        <h3 class="h1">Requisitos</h3>
        <ul>
            <li>{% include partes/check.svg %}
                <p>Un espacio ubicado cerca de tráfico de empleados, constructoras, oficinas infonavit, etc.</p></li>
            <li>{% include partes/check.svg %}
                <p>Local comercial con sala de exhibición de 50 m² a 70 m² y bodega en o fuera de la misma.</p></li>
            <li>{% include partes/check.svg %}
                <p>Vehículo y personal capacitado, para la instalación de los productos que ofrecemos.</p></li>
            <li>{% include partes/check.svg %}
                <p>Herramientas administrativas. (Teléfono, internet, etc.)</p></li>
        </ul>
    </div>
</div>
<div class="wrapper compromisos">
    <h3>3 compromisos a cumplir</h3>
    <div class="compromiso primero">
        <span>Hacia los clientes</span><span>Los mejores productos y un servicio de primera.</span>
    </div>
    <div class="compromiso">
        <span>Hacia el proveedor</span><span>Mayores volúmenes y pagos puntuales.</span>
    </div>
    <div class="compromiso">
        <span>Hacia los empleados y franquicias</span><span>Calidad personal, compromiso y remuneración justa.</span>
    </div>
</div>