---
layout: con-cabeza
title: Proveedor Autorizado Hipoteca Verde
description: "Descubre los beneficios de Hipoteca Verde y las ecotecnologías que puedes adquirir con nosotros para instalarlas en tu vivienda ecológica."
header: Hipoteca Verde Infonavit
permalink: /hipoteca-verde/
slug: hipoteca-verde
---

<div class="fondo-gris">
  <div class="wrapper">
    <img src="{{ site.url }}/assets/img/svg/logo-hipoteca.svg" alt="Hipoteca Verde" class="logo-hipoteca">
    <div>
      <h2>¿Qué es?</h2>
      <p>Es un programa del <a href="http://portal.infonavit.org.mx/wps/wcm/connect/infonavit/trabajadores/saber+para+decidir/cuido_mi_casa/hipoteca+verde" target="_blank" rel="noreferrer noopener">Infonavit</a> que te permite ahorrar energía comprando una casa con atributos de sustentabilidad,
        diseño bioclimático y <a href="{{ site.url }}/ecotecnologia/">ecotecnologías</a>, que disminuyen tus gastos en energía eléctrica, gas y agua. Esto se logra por medio de un monto de crédito adicional para equipar tu vivienda con equipamiento ecológico.</p>
      <p>Se tiene como objetivo el mejorar la calidad de vida de los acreditados de Infonavit al disminuir su gasto familiar, optimizar el uso de los recursos y minimizar el impacto al medio ambiente con una casa ecológica.</p>
      <p>Todos los créditos otorgados por el instituto cuentan con Hipoteca Verde Infonavit, por lo que todas las casas financiadas deben contar con accesorios ahorradores.</p>
      <p><em>La Organización de las Naciones Unidas (ONU) otorgó el Premio Hábitat 2012 a este programa.</em><sup><a href="http://www.dgcs.unam.mx/boletin/bdboletin/2012_583.html" target="_blank" rel="noreferrer noopener">[1]</a></sup></p>
      <p>El programa ha tenido como resultado reducir en nuestro país un 60% el consumo de agua, 50% de gas L.P. y 40% en electricidad. Además dejan de emitirse 1.2 toneladas de CO<sub>2</sub> por vivienda al año en promedio.</p>
    </div>
    <div class="paso paso02">
      <p>El sector residencial es reponsable del <strong>16.2%</strong> del consumo de <strong>energía</strong> en México y alrededor de <strong>4.9%</strong> de las emisiones de CO<sub>2</sub>.<sup><a href="https://www.gob.mx/cms/uploads/attachment/file/32585/Presentation2_COP21_SEDATU.pdf" target="_blank" rel="noreferrer noopener">[2]</a></sup></p>
    </div>
    <img src="{{ site.url }}/assets/img/svg/tu-vale.svg" alt="Tu vale de ecotecnologías" class="logo-tuvale">
    <div>
      <h2>¿Cómo funciona?</h2>
      <p>Si compraste una casa nueva o usada que no cuenta con ecotecnologías, podrás equiparla con un proveedor autorizado por Infonavit una vez que se haya ejercido el crédito hipotecario. El monto del crédito adicional que te otorgue el Infonavit no formará
        parte de tu crédito hasta que se instalen las ecotecnologías.</p>
      <p>Si vas a utilizar tu crédito para construir o remodelar tu casa, tienes que asegurarte de que se instalen las ecotecnologías que cumplan con el ahorro mínimo esperado, adquiriéndolas con un proveedor autorizado por el Instituto. En este caso, el
        monto de crédito adicional que te otorgue el Infonavit formará parte de tu crédito hipotecario.</p>
      <p>Para poder adquirir focos ahorradores, calentadores solares, paneles fotovoltáicos, mezcladoras ahorradoras de agua y otros accesorios ahorradores, necesitas tu <a href="{{ site.url }}/canjea-tu-vale/">vale de ecotecnologías</a>, lo podrás descargar
        en <a href="http://www.infonavit.org.mx:8070/wpEstadoSolicitudCreditoWeb/servlet/org.infonavit.estadosolicitud.controlador.Consulta?" target="_blank" rel="noreferrer noopener">Mi Espacio Infonavit</a> cuando esté aprobado tu crédito.</p>
      <a href="{{ site.url }}/canjea-tu-vale/" class="boton naranja">¿Cómo descargo el vale de ecotecnologías?</a>
    </div>
  </div>
</div>
<div class="wrapper tu-vale">
  <h2>¿Qué beneficios obtengo?</h2>
  <div class="valores">
    <div class="valor">
      {% include partes/check.svg %}
      <h3>Ahorro</h3>
      <p>Al bajar tu consumo de agua, energía eléctrica y gas; irás generando ahorros y disminuyendo el gasto familiar mensual.</p>
    </div>
    <div class="valor">
      {% include partes/check.svg %}
      <h3>Patrimonio</h3>
      <p>Una vivienda ecológica con accesorios ahorradores y ecotecnología aumenta de valor.</p>
    </div>
    <div class="valor">
      {% include partes/check.svg %}
      <h3>Financiamiento</h3>
      <p>Con el ahorro mensual se cubre el pago del crédito, sin afectar la economía familiar.</p>
    </div>
    <div class="valor">
      {% include partes/check.svg %}
      <h3>Sustentabilidad</h3>
      <p>Contribuyes al uso eficiente de los recursos naturales y a cuidar el medio ambiente en beneficio de las generaciones futuras.</p>
    </div>
    <div class="valor">
      {% include partes/check.svg %}
      <h3>Transparencia</h3>
      <p>Flexibilidad para seleccionar las ecotecnologías y mejorar tu ahorro al poder elegir las que más se ajusten a tus necesidades.</p>
    </div>
    <div class="valor">
      {% include partes/check.svg %}
      <h3>Garantía</h3>
      <p>Los productos disponibles han sido validados por su cálculo de ahorros por parte de las Dependencias de la Administración Pública Federal.</p>
    </div>
  </div>
</div>
<div class="fondo-gris">
  <div class="wrapper ahorrar">
    <h2>¿Cuánto puedo ahorrar?</h2>
    <p>El dinero que puedes ahorrar con este programa depende de las ecotecnologías que elijas, el clima del lugar donde vives y tus hábitos de uso. Nosotros te podemos ayudar a lograr el máximo ahorro escogiendo los accesorios que mejor se ajustan a tu
      situación.</p>
    <p>El Infonavit determinó un ahorro mínimo de acurdo a tu salario y así es como se calcula el monto adicional que se te otorga.</p>
    <table>
      <colgroup>
        <col>
        <col>
        <col>
      </colgroup>
      <thead>
        <tr>
          <th width="270px">
            <p align="center">Si mensualmente ganas entre:</p>
          </th>
          <th>
            <p align="center">El monto máximo de Hipoteca Verde será:</p>
          </th>
          <th>
            <p align="center">Tendrás un ahorro mínimo mensual de:</p>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="odd">
          <td style="text-align: center;">$2,220.41 y $3,552.65</td>
          <td style="text-align: center;">
            <p style="margin: 0px;">$4,440.82</p>
          </td>
          <td style="text-align: center;">
            <p style="margin: 0px;">$100.00</p>
          </td>
        </tr>
        <tr>
          <td style="text-align: center;">$3,552.65 y $8,526.37</td>
          <td style="text-align: center;">
            <p style="margin: 0px;">$22,204.1</p>
          </td>
          <td style="text-align: center;">
            <p style="margin: 0px;">$215.00</p>
          </td>
        </tr>
        <tr class="odd">
          <td style="text-align: center;">$8,526.37 y $14,921.15</td>
          <td style="text-align: center;">
            <p style="margin: 0px;">$22,204.1</p>
          </td>
          <td style="text-align: center;">
            <p style="margin: 0px;">$250.00</p>
          </td>
        </tr>
        <tr>
          <td style="text-align: center;">$14,921.15 y $23,447.52</td>
          <td style="text-align: center;">
            <p style="margin: 0px;">$33,306.15</p>
          </td>
          <td style="text-align: center;">
            <p style="margin: 0px;">$290.00</p>
          </td>
        </tr>
        <tr class="odd">
          <td style="text-align: center;">$23,447.52 ó más</td>
          <td style="text-align: center;">
            <p style="margin: 0px;">$44,408.2</p>
          </td>
          <td style="text-align: center;">
            <p style="margin: 0px;">$400.00</p>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="paso paso03">
      <p><strong>Haciendo cuentas:</strong> Un ahorro de $250 pesos al mes significa que durante el tiempo que dure tu crédito ahorrarás <strong>¡$75,000 pesos!</strong></p>
    </div>
  </div>
</div>
{% comment %}
<div class="wrapper tu-vale">
  <h2>Video explicativo</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/p53UZwkKWJE?modestbranding=1" frameborder="0" allowfullscreen></iframe>
  <p>&nbsp;</p>
</div>
{% endcomment %}
{% include partes/cta-cotizaSolar.html %}
<div class="fondo-gris">
  <div class="wrapper">
    <h2>¿Qué puedo comprar con el vale de ecotecnologias?</h2>
    <p>Se establecieron las tecnologías eficientes disponibles para ser usadas en la vivienda sustentable a partir de un enfoque regional con base en las condiciones climáticas más representativas del país. Conforme a la clasificación del Instituto Nacional
      de Ecología (INE) se establecieron tres grandes climas que impactan en los ahorros generados por el uso de las ecotecnologías:</p>
    <ul>
      <li>Clima semifrio</li>
      <li>Clima templado</li>
      <li>Clima cálido</li>
    </ul>
    <p>Tomando esto en cuenta y tus necesidades de uso de energía, nuestros asesores pueden ayudarte a elegir tus ecotecnologias:</p>
    <ul>
      <li>
        Para ahorrar electricidad:
        <ul>
          <li>Focos ahorradores (lámparas fluorescentes compactas y focos LED).</li>
          <li><a href="{{ site.url }}/ecotecnologias/energia-solar/">Páneles solares fotovoltaicos.</a></li>
          <li>Equipo de <a href="{{ site.url }}/ecotecnologias/aire-acondicionado/">aire acondicionado de alta eficiencia</a> o con tecnología Inverter.</li>
          <li><a href="{{ site.url }}/ecotecnologias/linea-blanca/">Refrigerador de alta eficiencia.</a></li>
          <li>Aislamiento térmico en techos y/o muros.</li>
          <li>Recubrimiento reflectivo como acabado final en techos y/o muros.</li>
        </ul>
      </li>
      <li>
        Para ahorrar gas:
        <ul>
          <li><a href="{{ site.url }}/ecotecnologias/calentadores-solares/">Calentador solar de tubos evacuados</a> con respaldo de calentador de gas de paso.</li>
          <li>Calentador de gas de paso (de rápida recuperación o instantáneo).</li>
        </ul>
      </li>
      <li>
        Para ahorrar agua:
        <ul>
          <li>Inodoro ecológico de 5 litros por descarga máximo.</li>
          <li>Regadera con ahorrador integrado.</li>
          <li>Llaves (válvulas) con dispositivo ahorrador en lavabos y tarjas.</li>
          <li>Filtros purificadores de agua.</li>
        </ul>
      </li>
    </ul>
    <div class="paso paso01">
      <p>La Hipoteca Verde es <strong>financieramente viable</strong> porque el sobrecosto del monto adicional se absorbe con los <strong>ahorros generados</strong> por consumos menores de energía y agua. Una vez pagado este monto, los ahorros <strong>se convierten en ganancias</strong>.</p>
    </div>
  </div>
</div>

{% include partes/cta.html %}

{% include jsonld/jsonld webpage=1 %}
