---
layout: con-cabeza
title: Mejoramiento Integral Sustentable
description: "Puedes instalar paneles solares o un calentador solar, ahorrar en tus cuentas de luz y gas, pagando solo el 60% de la inversión a crédito."
permalink: /mejoramiento/
slug: mejoramiento
---

<div class="wrapper">
  <div class="flex align-items-center sm:flex-wrap sm:flex-column-reverse">
    <div>
      <h2>Ecotecnologías con 40% de descuento</h2>
      <p>Con este programa podrás obtener un crédito para poder instalar equipos más eficientes y limpios como calentadores solares, paneles solares, aires acondicionados ecológicos y otras <a href="{{ site.url }}/ecotecnologia/">ecotecnologías</a> en tu casa. Ahorrarás hasta cinco mil pesos al año en tus recibos de luz y de gas.</p>
      <div class="checklist">
        <div class="checklist_item w50 md:w100">
          {% include partes/check.svg %}
          <p>El trámite para ingresar al programa es gratuito.</p>
        </div>
        <div class="checklist_item w50 md:w100">
          {% include partes/check.svg %}
          <p>La CONAVI subsidiará el 30 por ciento del valor del proyecto.</p>
        </div>
        <div class="checklist_item w50 md:w100">
          {% include partes/check.svg %}
          <p>La Secretaria de Energía a través del FOTEASE aportará un 10% como incentivo energético.</p>
        </div>
        <div class="checklist_item w50 md:w100">
          {% include partes/check.svg %}
          <p>5% aportación inicial (cuándo esté autorizado tu crédito)</p>
        </div>
        <div class="checklist_item w50 md:w100">
          {% include partes/check.svg %}
          <p><strong>Tu pagas solo un 60% del costo del proyecto con un crédito que se paga a través del recibo de la luz, en un plazo de hasta 5 años.</strong></p>
        </div>
      </div>
    </div>
    <img src="{{ site.url }}/assets/img/svg/mejorar.svg" alt="Mejora tu casa" class="page_icon">
  </div>
</div>
<div class="wrapper">
  <div class="paso paso04 mv3">
    <p>Los créditos son para permitir que las familias que tienen ingresos menores a cinco salarios mínimos hagan la transición a hogares energéticamente eficientes y sustentables.</p>
  </div>
</div>

<div class="bg-light-grey bt-medium-grey pv3">
  <div class="wrapper tc">
    <h2>Ecotecnologías autorizadas:</h2>
    <div class="productosHeader__list">
      <a href="{{ site.url }}/ecotecnologias/energia-solar/" class="productosHeader__listItem">
        <div  class="productosHeader__listItem__icon">
          {% include partes/icono.svg icon="energia-solar" title="Energía solar fotovoltaica" %}
        </div>
        <h3 class="productosHeader__listItem__nombre">Paneles solares</h3>
      </a>
      <a href="{{ site.url }}/ecotecnologias/aire-acondicionado/" class="productosHeader__listItem">
        <div  class="productosHeader__listItem__icon">
          {% include partes/icono.svg icon="aire-acondicionado" title="Aire acondicionado" %}
        </div>
        <h3 class="productosHeader__listItem__nombre">Aire acondicionado</h3>
      </a>
      <a href="{{ site.url }}/ecotecnologias/calentadores-solares/" class="productosHeader__listItem">
        <div  class="productosHeader__listItem__icon">
          {% include partes/icono.svg icon="calentadores-solares" title="Calentadores solares" %}
        </div>
        <h3 class="productosHeader__listItem__nombre">Calentadores solares</h3>
      </a>
      <a href="{{ site.url }}/ecotecnologias/pintura-imper/" class="productosHeader__listItem">
        <div  class="productosHeader__listItem__icon">
          {% include partes/icono.svg icon="pintura-imper" title="Pinturas e impermeabilizantes" %}
        </div>
        <h3 class="productosHeader__listItem__nombre">Pinturas e impermeabilizantes</h3>
      </a>
      <a href="{{ site.url }}/ecotecnologias/iluminacion-led/" class="productosHeader__listItem">
        <div  class="productosHeader__listItem__icon">
          {% include partes/icono.svg icon="iluminacion-led" title="Iluminación LED" %}
        </div>
        <h3 class="productosHeader__listItem__nombre">Iluminación LED</h3>
      </a>
    </div>
    <a href="{{ site.url }}/ecotecnologias/" class="boton naranja">Ver el catálogo</a>
  </div>
</div>

<div class="wrapper flex flex-wrap mv3">
  <div class="w50 ph1 md:w100">
    <h2>Requisitos:</h2>
    <ul class="ma0 pl1">
      <li>Ser mayor de edad y tener cuando más 70 años.</li>
      <li>
        Contar con un contrato de servicio eléctrico con CFE a nombre del propietario de la vivienda.
        <ul class="ma0 pl1">
          <li>Con tarifa doméstica.</li>
          <li>Que esté al corriente en sus pagos.</li>
        </ul>
      </li>
      <li>La vivienda se deberá encontrar fuera de cualquier zona de riesgos.</li>
      <li>No ser propietario de alguna otra vivienda.</li>
      <li>Que el beneficiario no tenga un ingreso superior a 5 UMAs mensuales.</li>
      <li>No haber recibido previamente subsidios de CONAVI.</li>
      <li>Contar con un ahorro previo de al menos el 5% del valor del proyecto propuesto.</li>
      <li>Tener un buen historial crediticio o no contar con historial crediticio.</li>
      <li>Contar con un obligado solidario (Aval).</li>
    </ul>
  </div>
  <div class="w50 ph1 md:w100">
    <h2>Documentos necesarios:</h2>
    <ul class="ma0 pl1">
      <li>Identificación oficial vigente. (INE, Pasaporte, Cedula profesional)</li>
      <li>CURP</li>
      <li>Boleta predial u otro documento que acredite la posesión de la vivienda.</li>
      <li>Recibo de CFE con menos de tres meses de antigüedad.</li>
      <li>Declaración bajo protesta de decir verdad del monto de los ingresos que percibe mensualmente.</li>
      <li>Autorización de revisión crediticia.</li>
      <li>
        Del Aval:
        <ul class="ma0 pl1">
          <li>Comprobante de domicilio.</li>
          <li>Identificación oficial vigente.</li>
        </ul>
      </li>
    </ul>
    <a href="{{ site.url }}/contacto/" class="boton verde">¡Solicitar cotización!</a>
  </div>
</div>

<div class="bg-light-grey bt-medium-grey pv3">
  <div class="wrapper ahorrar">
    <h2>Ecotecnologías por zona bioclimática:</h2>
    <table>
      <colgroup>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
      </colgroup>
      <thead>
        <tr>
          <th>Tipo de clima</th>
          <th>Paneles solares</th>
          <th>Calentadores paso con o sin calentador solar</th>
          <th>Aire acondicionado</th>
          <th>Aislamiento térmico</th>
          <th>Iluminación eficiente</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Templado</td>
          <td>{% include partes/check.svg %}</td>
          <td>{% include partes/check.svg %}</td>
          <td></td>
          <td></td>
          <td>{% include partes/check.svg %}</td>
        </tr>
        <tr>
          <td>Cálido seco</td>
          <td>{% include partes/check.svg %}</td>
          <td>{% include partes/check.svg %}</td>
          <td>{% include partes/check.svg %}</td>
          <td>{% include partes/check.svg %}</td>
          <td>{% include partes/check.svg %}</td>
        </tr>
        <tr>
          <td>Cálido húmedo</td>
          <td>{% include partes/check.svg %}</td>
          <td>{% include partes/check.svg %}</td>
          <td>{% include partes/check.svg %}</td>
          <td>{% include partes/check.svg %}</td>
          <td>{% include partes/check.svg %}</td>
        </tr>
        <tr>
          <td>Semifrío</td>
          <td>{% include partes/check.svg %}</td>
          <td>{% include partes/check.svg %}</td>
          <td></td>
          <td></td>
          <td>{% include partes/check.svg %}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="wrapper mv3 tc">
  <h2>Participantes:</h2>
  <div class="flex flex-wrap">
    <div class="w33 ph1 lg:w50 sm:w100">
      <img src="{{ site.url }}/assets/img/participantes/sener.jpg" alt="SENER">
      <p>La <a href="https://www.gob.mx/sener">SENER</a> se encarga de aprobar lineamientos y aporta el incentivo energético por medio del <a href="https://www.gob.mx/sener/articulos/el-fondo-para-la-transicion-energetica-y-el-aprovechamiento-sustentable-de-la-energia-es-un-instrumento-de-politica-publica-de-la-secretaria">FOTEASE</a>.</p>
    </div>
    <div class="w33 ph1 lg:w50 sm:w100">
      <img src="{{ site.url }}/assets/img/participantes/nafin.jpg" alt="Nafin">
      <p><a href="http://www.nafin.com">Nafin</a> asignará línea de descuento de títulos de crédito.</p>
    </div>
    <div class="w33 ph1 lg:w50 sm:w100">
      <img src="{{ site.url }}/assets/img/participantes/conavi.jpg" alt="CONAVI">
      <p><a href="https://www.gob.mx/conavi">CONAVI</a> supervisará el desarrollo del programa, aportará recursos para contragarantía y un incentivo energético.</p>
    </div>
    <div class="w33 ph1 lg:w50 sm:w100">
      <img src="{{ site.url }}/assets/img/participantes/cfe.jpg" alt="CFE">
      <p><a href="http://www.cfe.gob.mx/">CFE</a> realizará la cobranza de los créditos a través de la facturación eléctrica.</p>
    </div>
    <div class="w33 ph1 lg:w50 sm:w100">
      <img src="{{ site.url }}/assets/img/participantes/fide.jpg" alt="FIDE">
      <p><a href="http://www.fide.org.mx/">FIDE</a> otorga el financiamiento, aplica los recursos de subsidio de la CONAVI y SENER, autoriza las ecotecnologías; además validará y autorizará los proyectos.</p>
    </div>
    <div class="w33 ph1 lg:w50 sm:w100">
      <img src="{{ site.url }}/assets/img/participantes/jr.jpg" alt="JR Ecotecnología">
      <p><a href="{{ site.url }}/nosotros/">JR Ecotecnología</a> te apoyará con la gestión y seguimiento de los trámites, instalar correctamente tus equipos, otorgarte las garantías y capacitación.</p>
    </div>
  </div>
</div>

{% include jsonld/jsonld webpage=1 %}
