---
layout: con-cabeza
title: Nosotros
tipo: AboutPage
description: "Somos una empresa certificada por Infonavit como proveedor autorizado del programa Hipoteca Verde a nivel nacional."
permalink: /nosotros/
---

<div class="wrapper">
  <img src="{{ site.url }}/assets/img/svg/panel-solar.svg" alt="Panel Solar" class="panel-solar">
  <div>
    <p>JR Ecotecnología es una empresa 100% Jalisciense que nació hace mas de 30 años como mueblería con la premisa de concientizar a las personas acerca de la utilización de nuevas tecnologías que nos ayudan a <strong>utilizar de manera mas eficiente la energía</strong> que usamos en nuestra vida cotidiana, ya sea eléctrica o térmica.</p>
    <p>Gracias a la preferencia de nuestros clientes hemos incursionado en programas de apoyo del gobierno como <a href="http://www.fonacot.gob.mx/" target="_blank">Fonacot</a> y <a href="http://www.fide.org.mx/" target="_blank">FIDE.</a> En el año 2012 <a href="http://www.infonavit.org.mx" target="_blank">Infonavit</a> nos certifica como proveedor autorizado de su programa Hipoteca Verde.</p>
    <p>Promovemos la utilización de <strong>equipos ahorradores</strong> de agua y electricidad, en general todo aquello que nos ayude a ser mas eficientes en el aprovechamiento de nuestros recursos y, al mismo tiempo, contribuimos al <strong>cuidado de nuestro medio ambiente</strong> ya que con nuestras <a href="{{ site.url }}/ecotecnologias/">ecotecnologías</a> producimos nuestras propias energías térmica y eléctrica.</p>
    <p>Somos una empresa certificada por Infonavit como <strong>proveedor autorizado</strong> del programa <a href="{{ site.url }}/hipoteca-verde/">Hipoteca Verde</a> a nivel nacional, con {{ site.data.sucursales | size }} sucursales en 15 estados de la República Mexicana.</p>
  </div>
  <ul>
    <li>
      <a href="{{ site.url }}/ecotecnologia/">¿Qué son las ecotecnologías?</a>
    </li>
    <li>
      <a href="{{ site.url }}/ecotecnologias/calentadores-solares/">Calentadores solares</a>
    </li>
    <li>
      <a href="{{ site.url }}/ecotecnologias/energia-solar/">Sistemas Fotovoltáicos</a>
    </li>
    <li>
      <a href="{{ site.url }}/franquicias/">Franquicias de ecotecnologías.</a>
    </li>
    <li>
      <a href="{{ site.url }}/contacto/">Contáctanos.</a>
    </li>
  </ul>
</div>

{% include partes/cta-cotizaSolar.html %}

{% include jsonld/jsonld webpage=1 %}
