---
layout: con-cabeza
title: Preguntas Frecuentes
description: "Todo lo que necesitas saber sobre Hipoteca Verde y tu Vale de Ecotecnologías."
permalink: /hipoteca-verde/preguntas-frecuentes/
slug: preguntas-frecuentes
tipo: QAPage
---

<div class="wrapper">
  <ul id="preguntas">
  {%- for pregunta in site.data.preguntas -%}
    <li id="P{{ forloop.index | plus: 1 }}">
      <h2>{{ pregunta.pregunta }}</h2>
      <p>
        {{ pregunta.respuesta }}
        {%- if pregunta.link -%}(<a href="{{ pregunta.link }}">Más información</a>){%- endif -%}
      </p>
    </li>
  {%- endfor -%}
  </ul>
</div>

{% include partes/cta-cotizaSolar.html %}

{% include jsonld/jsonld webpage=1 %}
