---
layout: con-cabeza
permalink: /sucursales/
title: "Sucursales"
description: "Adquiere ecotecnologías en una de nuestras sucursales, estamos por todo México. Seguro hay una cerca de tí."
slug: sucursales
bodyClass: sucursalesMain
---

{% assign sucursales = site.data.sucursales | sort: 'estado' %}
<div class="wrapper">
  <ul class="sucursales__Lista">
    {% for sucursal in sucursales %}
    <li class="sucursales__Lista__Item">
      <a href="/sucursales/{{ sucursal.slug }}.html">
        <figure class="intrinsic intrinsic--square">
          <img data-sizes="auto" src="{{ site.url }}/assets/img/sucursales/{{ sucursal.slug }}-25.jpg" data-srcset="{{ site.url }}/assets/img/sucursales/{{ sucursal.slug }}-25.jpg 25w,
                            {{ site.url }}/assets/img/sucursales/{{ sucursal.slug }}-200.jpg 200w,
                            {{ site.url }}/assets/img/sucursales/{{ sucursal.slug }}-300.jpg 300w,
                            {{ site.url }}/assets/img/sucursales/{{ sucursal.slug }}-400.jpg 400w,
                            {{ site.url }}/assets/img/sucursales/{{ sucursal.slug }}-600.jpg 600w,
                            {{ site.url }}/assets/img/sucursales/{{ sucursal.slug }}-800.jpg 800w"
            class="sucursales__Lista__Img intrinsic-item lazyload blur-up" alt="{{ site.title }} {{ sucursal.nombre }}" />
        </figure>
        <h3 class="sucursales__Lista__Nombre" style="border-color: {{ sucursal.color }};">{{ sucursal.nombre }}</h3>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>

{% include partes/cta.html %}