<figure class="image is-16by9">
     <img src="{{ include.page.image.src | append: '-20.jpg' | prepend: site.path.imagesBlog | prepend: site.url }}"
          alt="{% if include.page.image.titulo %}{{ include.page.image.titulo }}{% else %}{{ include.page.title }}{% endif %}"
          data-sizes="auto"
          data-srcset="{{ include.page.image.src | append: '-320.jpg' | prepend: site.path.imagesBlog | prepend: site.url }} 320w,
          {{ include.page.image.src | append: '-768.jpg' | prepend: site.path.imagesBlog | prepend: site.url }} 768w,
          {{ include.page.image.src | append: '-1024.jpg' | prepend: site.path.imagesBlog | prepend: site.url }} 1024w,
          {{ include.page.image.src | append: '-1600.jpg' | prepend: site.path.imagesBlog | prepend: site.url }} 1600w"
          class="lazyload">
</figure>