<nav class="nav">
    <div class="nav-left">
        <a class="nav-item is-brand" href="{{ site.url }}">
            <img src="{{ site.logo.src | prepend: site.url }}" alt="{{ site.title }}">
        </a>
    </div>
    
    <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
    </span>

    <div class="nav-right nav-menu">
        <a class="nav-item" href="/acerca-de/">
            Sobre Quinto Solar
        </a>
        <a class="nav-item" href="#">
            Mapas
        </a>
        <a class="nav-item" href="/noticias/">
            Noticias
        </a>
    </div>
</nav>