.jr__anuncio {
  position: fixed;
  z-index: 10;
  bottom: 0;
  width: 100%;
  max-height: $topbar-height;
  color: $blanco;
  background-color: $brand-color;
  transition: max-height 300ms ease-out;

  .jr__anuncio__wrapper {
    height: 100%;
    display: flex;
    overflow: hidden;

    @include media-query($on-laptop) {
      font-size: $small-font-size;
    }
  }

  .jr__anuncio__atencion {
    width: 100%;
    padding-top: 0.3rem;

    a {
      color: $blanco;
    }

    ul {
      margin-left: 0;
      padding-left: 1.2rem;
    }
  }

  .atencion__link {
    display: block;
    color: $blanco;
    text-align: right;

    &::after {
      content: " ▼";
    }

    &:hover {
      text-decoration: none;

      &::after {
        color: $brand-color3;
      }
    }
  }

  &.jr__anuncio__visible {
    max-height: 20rem;

    .atencion__link::after {
      content: " ×";
    }
  }
}
