.row {
  margin-right: -1.5rem;
  margin-left: -1.5rem;

  @include media-query($md) {
    margin-right: -$spacing-unit / 2;
    margin-left: -$spacing-unit / 2;
  }
}
.column {
  padding-right: 1.5rem;
  padding-left: 1.5rem;

  @include media-query($md) {
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

.envoltura {
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;

  @include media-query($on-laptop) {
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

.checklist {
  display: flex;
  flex-wrap: wrap;
}

.checklist_item {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  display: flex;
  margin: $spacing-unit / 2 0;

  .icon {
    color: #828282;
    min-width: 1.5rem;
    min-height: 1.5rem;
    margin-right: 0.5rem;
  }

  p {
    margin: 0;
    padding-right: 0.5rem;
  }
}

.page_icon {
  flex-shrink: 0;
  width: 14rem;
  height: 100%;
}

.sucursal_sidebar {
  flex-shrink: 0;
  width: 24rem;

  @include media-query($md) {
    width: 20rem;
  }

  @include media-query($sm) {
    width: 100%;
  }
}
.sucursal_local {
  margin-top: 3rem;

  &:not(:first-of-type) {
    border-top: 1px solid $light-gray;
    padding-top: 3rem;
  }
}
.sucursal .cta__cotizaSolar {
  margin-top: 3rem;
}
