.cotizaSolar {
  main .wrapper {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: $spacing-unit * 2;
  }

  #app {
    text-align: center;
    flex: 1 1 67%;
    padding-right: $spacing-unit;
  }

  .formCotiza {
    flex: 1 1 67%;
    padding-right: $spacing-unit;
  }

  .lateralCotiza {
    flex: 1 1 18rem;

    ul {
      margin-left: 0;
      padding-left: 1.2rem;
    }

    .lateralCotiza__image {
      max-width: 10rem;
      margin: 0 auto;
      margin-bottom: $spacing-unit * 2;

      img {
        width: 100%;
      }
    }
  }

  fieldset {
    margin: 0;
  }

  .segmented-control {
    display: flex;
    margin: 0 0 0.9rem;
    padding: 0;
  }

  .segmented-control__item {
    display: inline-block;
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
  }

  .segmented-control__input {
    clip: rect(0, 0, 0, 0);
    opacity: 0;
    position: absolute;
    visibility: hidden;
  }

  .segmented-control__label {
    cursor: pointer;
    display: inline-block;
    flex: 1 1 auto;
    margin: 0;
    padding: 0.6rem;
    text-align: center;
    text-decoration: none;
    transition: background 0.4s ease, color 0.4s ease;
  }

  .segmented-control__label:hover {
    background: $grey-color-light;
    box-shadow: inset 0 0 1px $grey-color;
  }

  .segmented-control__input:checked + .segmented-control__label {
    background: $background-color;
    //border-bottom: 1px solid $grey-color-light;
    box-shadow: inset 0 0 5px #c8c8c8;
  }

  .segmented-control__input:focus + .segmented-control__label {
    background: #444;
    outline: thin dotted;
  }

  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
  }

  .inputfile:focus + label {
    opacity: 0.9;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0s;
    text-decoration: none;
  }

  .recibo,
  .recibo img {
    max-width: 305px;
  }

  .errored {
    background-color: #ed6e62;
  }

  .cotizaSolar__error {
    display: block;
    margin: -0.9rem 0 0.9rem;
    font-weight: bold;
  }

  .cotizaSolar__errores {
    display: inline-block;
    font-weight: bold;
  }

  .cotizaSolar__status {
    display: block;
    font-weight: bold;
  }
}
