$alturaBorde: 0.4rem;

footer {
  font-size: $small-font-size;
  background-color: $footer-color1;
  border-top: $alturaBorde solid #c4268c;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: $alturaBorde;
    background: linear-gradient(to right, #eb5c95, #c06a9a, #7c6b9e, #74a5d8, #8cccc0, #58ba9e, #90c257, #f2e65e, #fdc94f, #f1a068, #f2907a, #ed6e62, #ea5151);
    top: -$alturaBorde;
    left: 0;
  }
}

.siteFooter {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  &>div {
    margin-top: $spacing-unit;
  }

  h2 {
    margin-top: 0;
    margin-bottom: $spacing-unit / 2;
    line-height: 1;
    color: #a0acc1;
  }
}

.siteFooter__logo {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
  order: 4;
  margin: $spacing-unit / 2 0;
  text-align: center;
}

.siteFooter__logo__svg {

  svg {
    width: $logo-height * 2.55477 / 1.6;
    height: $logo-height / 1.6;
    fill: #fff;
  }
}

.sitefooter__menu,
.siteFooter__catalogo {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  min-width: 12rem;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li:not(:first-child) {
    margin-top: $spacing-unit / 4;
  }

  a {
    color: $blanco;
  }
}

.siteFooter__contacto {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

  .gdl {
    display: flex;
  }

  .icon {
    width: 2rem;
  }
}

.siteFooter__contacto__foto {
  width: 11rem;

  @include media-query($on-palm) {
    width: 8rem;
  } 
}

.siteFooter__contacto__datos {
  margin-left: $spacing-unit;

  p {
    margin: 0;
    color: $blanco;
  }
}

.siteFooter__copy {
  background-color: $footer-color2;
  font-size: $small-font-size;
  text-align: center;
  color: $blanco;
}

.siteFooter__copy__canjea {
  @include media-query($on-laptop) {
    display: none;
  }
}
