/* ==========================================================================
   FORMS
   ========================================================================== */

fieldset {
  margin-bottom: 5px;
  padding: 0;
  border-width: 0;
}

// input,
// label,
// select {
//   display: block;
// }

label {
  margin-bottom: 6px;

  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

form button.boton { margin-top: $spacing-unit; }

form .status {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: $brand-color3;
  padding: $spacing-unit;
}

/* .invalid class prevents CSS from automatically applying */
.invalid input:required:invalid {
  background: #be4c54;
}

/* Mark valid inputs during .invalid state */
.invalid input:required:valid {
  background: #17d654;
}

form .error {
  display: none;
}

form.invalid .error {
  display: block;
}

.input {
  font-family: inherit;
}
