.siteHeader {
  position: relative;
  width: 100%;
  background-color: #fff;
  z-index: 3;
}

.siteHeader-topBar {
  height: $topbar-height;
  background-color: $brand-color;

  @include media-query($on-laptop) {
    height: 0.6rem;
  }

  .wrapper {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
  
    @include media-query($on-laptop) {
      display: none;
    }
  }
  
  #selectSucursal {
    border: none;
    padding: 0.125rem 2rem 0.125rem 0.25rem;
    margin: 0;
    width: auto;
    display: inline;
    font-size: $small-font-size;
    background-color: #449b5e;
    color: $blanco;
  
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  
  .siteHeader-topBar-telefono a,
  .siteHeader-topBar-telefono span,
  .siteHeader-topBar-correo a,
  .siteHeader-topBar-ubicacion a {
    color: $blanco;
    font-size: $small-font-size;
  
    .icon {
      margin-bottom: 0.0625rem;
    }
  }
  
  .siteHeader-topBar-telefono {
    margin: 0 $spacing-unit/2;
  }
  
  .siteHeader-topBar-correo a .icon {
    margin-top: -0.125rem;
  }
  
  .siteHeader-topBar-ubicacion {
    margin: 0 0 0 $spacing-unit/2;
  }
}

.siteHeader-contenedor {
  position: relative;
  max-width: calc(1200px - (1.6667rem * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.6667rem;
  padding-left: 1.6667rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-query($on-laptop) {
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

.siteHeader-logoTipo {
  padding: 0.5rem 0;
  // display: inline-block;

  img {
    min-width: $logo-height * 2.55477;
    min-height: $logo-height;
  }
}

$toggle-width: 2.2rem;
$toggle-height: $toggle-width * 3 / 4;
$span-width: 0.9;
$span-height: $toggle-height * 2 / 15;

.siteHeader-navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-query-min($on-laptop) {
    transform: scale(1,1) !important;
  }

  @include media-query($on-laptop) {
    position: absolute;
    top: calc(50% - (#{$toggle-height} / 2));
    right: $toggle-width; //---------------------------------------------------------------------------
    display: block;
    opacity: 0;
    pointer-events: none;
    transform-origin: top right;
    overflow: hidden;
    contain: content;
    background-color: transparent;
    will-change: transform;
    animation-duration: 200ms;
    animation-timing-function: step-end;
  }
}

.menu__contents {
  transform-origin: top right;
  will-change: transform;
  contain: content;
  // padding: 0 $toggle-width $toggle-width $toggle-width; //---------------------------------------------------------------------------
  animation-duration: 200ms;
  animation-timing-function: step-end;

  @include media-query-min($on-laptop) {
    contain: none;
    transform: scale(1,1) !important;
  }
}

.siteHeader-menuToggle {
  display: none;

  &:focus {
    outline:0;
  }

  @include media-query($on-laptop) {
    display: block;
    text-align: right;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
  }
}

.siteHeader-labelToggle {
  position: relative;
  display: none;
  padding: 0;
  margin: 0;
  // margin-right: -$toggle-width; //---------------------------------------------------------------------------
  width: $toggle-width;
  height: $toggle-height;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;

  @include media-query($on-laptop) {
    display: inline-block;
  }

  span {
    display: block;
    position: absolute;
    height: $span-height;
    width: $span-width * 100%;
    background: $brand-color;
    border-radius: $span-height;
    opacity: 1;
    left: $toggle-width * 0.5 * (1 - $span-width);
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: $span-height;
      transform-origin: left center;
    }

    &:nth-child(2) {
      top: ($toggle-height / 2) - ($span-height / 2);
      transform-origin: center;
    }

    &:nth-child(3) {
      top: $toggle-height - ($span-height * 2);
      transform-origin: left center;
    }
  }
}

@include media-query($on-laptop) {
  .menu--active {
    opacity: 1;
    pointer-events: auto;
  }
  .menu--expanded {
    animation-name: menuExpandAnimation;
  }
  .menu__contents--expanded {
    animation-name: menuExpandContentsAnimation;
    
    .siteHeader-labelToggle {
      span {
        &:nth-child(1) {
          transform: rotate(45deg);
          top: $toggle-height * 0.0286;
          left: $toggle-width * 0.1818;// 0.14645;
        }

        &:nth-child(2) {
          transform: scaleX(0);
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
          top: $toggle-height * 0.87713;
          left: $toggle-width * 0.1818;
        }
      }
    }
  }
  .menu--collapsed {
    animation-name: menuCollapseAnimation;
  }
  .menu__contents--collapsed {
    animation-name: menuCollapseContentsAnimation;
  }
}

.siteHeader-menuPrincipal {
  margin: 0;
  padding: 0;
  font-size: $small-font-size;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-query($on-laptop) {
    display: block;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0 $toggle-width $toggle-width $toggle-width;
    background: #FFF;
    box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
    z-index: 1;
  }
}

$item-height-mobile: 2.5rem;

.siteHeader-menuPrincipal-listItem {
  list-style: none;
  height: $logo-height + 1rem;
  position: relative;

  &:hover {
    .siteHeader-menuPrincipal-link {
      color: #fff;
      text-decoration: none;

      &::before {
        transform: scaleX(1); // reveal
      }
    }
  }

  @include media-query(850px) {
    &:first-child {
      display: none;
    }
  }

  @include media-query($on-laptop) {
    display: block;
    height: auto; // $item-height-mobile; ------------------------------------------------
    border-bottom: 1px solid $grey-color-light;

    &:last-child {
      border-bottom: none;
    }
  }

  @include media-query-min($on-laptop) {
    // ------------------ Se revela el submenu con hover arriba de esta resolución.

    &:hover {
      .siteHeader-subMenu {
        transform: scaleY(1); // reveal
        opacity: 1;
      }
    }
  }
}

.siteHeader-menuPrincipal-link {
  position: relative;
  display: block;
  line-height: $logo-height + 1rem;
  padding: 0 1rem;
  color: $text-color;
  text-decoration: none;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    height: $logo-height + 1rem;
    width: 100%;
    background-color: $brand-color;
    transition: transform 300ms cubic-bezier(0.32, 0, 0, 1);
    transform: scaleX(0); // hide
  }

  &.activo {
    color: #fff;
    cursor: default;

    &::before {
      transform: scaleX(1);
    }
  }

  @include media-query($on-laptop) {
    line-height: $item-height-mobile;
    font-size: 1rem;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      height: $item-height-mobile;
      width: 100%;
      background-color: $brand-color;
      transition: transform 300ms cubic-bezier(0.32, 0, 0, 1);
      transform: scaleX(0); // hide
    }

    &.activo {
      color: #fff;
      cursor: default;

      &::before {
        transform: scaleX(1);
      }
    }
  }
}

.siteHeader-subMenu {
  position: absolute;
  top: $logo-height + 1rem;
  left: 0.125rem;
  white-space: nowrap;
  background-color: #fff;
  border-top: 3px solid $brand-color;
  transition: transform 300ms cubic-bezier(0.32, 0, 0, 1), opacity 300ms linear;
  transform-origin: 0 0;
  transform: scaleY(0); // hide
  opacity: 0;

  @include media-query($on-laptop) {
    position: static;
    transform: scaleY(1);
    opacity: 1;
  }
}

.siteHeader-subMenu-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.siteHeader-subMenu-listItem {
  border-bottom: 1px solid $grey-color-light;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    .siteHeader-subMenu-link {
      color: $brand-color;
      text-decoration: none;
    }
  }
}

.siteHeader-subMenu-link {
  padding-right: $spacing-unit;
  padding-left: $spacing-unit/2;
  color: $text-color;

  &.sin-icono {
    padding-left: $spacing-unit;
    line-height: 3rem;
  }

  svg {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
  }
}
