.svg-wrapper {
  height: calc(100vh - 2.16671rem); // menos $topbar-height
  margin-top: -7.2167rem; // header + topbar
  padding-top: 7.2167rem;
  margin-bottom: -(1.95rem + $spacing-unit * 2); // proveedores
  padding-bottom: 1.95rem + $spacing-unit * 2;
  background-color: #435277;
  animation-name: agua;
  animation-duration: 10s;
  animation-iteration-count: infinite;

  .afueraMapa {
    height: 100%;
    position: relative;
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
    overflow: visible;

    div {
      height: 100%;
      width: 70%;
      animation: fade-in 3s;

      svg {
        height: 100%;
        width: 100%;
      }
    }
  }

  h1 {
    margin: 0;
    margin-right: $spacing-unit;
    position: absolute;
    left: 50%;
    top: 20%;
    font-size: 1.4rem;
    font-weight: $base-font-weight;
    color: $blanco;
  }

  .boton {
    position: absolute;
    left: 50%;
    top: calc(20% + 4.5rem);
  }

  @include media-query($on-palm) {
    height: auto;

    .afueraMapa {
      text-align: center;
    }

    h1 {
      position: static;
      margin: 0;
    }

    .boton {
      position: static;
      display: inline-block;
      margin: $spacing-unit 0 0 0;
    }

    .afueraMapa {
      div {
        width: 100%;
      }
    }
  }
}

.estado {
  /* fill: #44AC64; */
  fill: #fdfaec;
  stroke-width: 0.25;
  stroke: #727272;
  transition: fill 0.9s ease-out;
}

.estado:hover {
  fill: #efa707;
}

#sucursales {
  .pin {
    stroke-width: 0;
  }

  .circulo1 {
    stroke-width: 0;
    transition: all 0.3s ease-in-out;
  }

  .rect1 {
    stroke-width: 0;
    transition: all 0.3s ease-in-out;
  }

  .circulo2 {
    fill: #fff;
    stroke-width: 0;
    transition: all 0.3s ease-in-out;
  }

  .rect2 {
    fill: #fff;
    stroke-width: 0;
    transition: all 0.3s ease-in-out;
  }

  .circulo3 {
    fill: #fff;
    stroke-width: 0;
  }

  a {
    text-decoration: none;
  }

  text {
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    font-size: 18px;
    fill: #000;
    transition: opacity 0.2s ease;
    transition-delay: 0.2s;
  }
}
