.productosHeader {
  // margin-bottom: $spacing-unit;
}

.productosHeader__list {
  display: flex;
}

.productosHeader__listItem {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  padding: $spacing-unit * 2 0;
  border-radius: 3px;

  &:hover {
    background-color: $background-color;
    box-shadow: inset 0 0 1px $grey-color;
  }

  &.activo {
    background-color: $background-color;
    box-shadow: inset 0 1px 1px $grey-color;
  }
  
  @include media-query(960px) {
    padding: $spacing-unit 0;
  }

  @include media-query(500px) {
    padding: $spacing-unit / 2  0;
  }

  @include media-query(400px) {
    padding: $spacing-unit / 3  0;
  }
}

.productosHeader__listItem__icon {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

  svg {
    width: 4rem;
    height: 4rem;
    display: inline-block;
    background-color: $brand-color;
    border-radius: 2rem;
    fill: $blanco;

    @include media-query(500px) {
      width: 3rem;
      height: 3rem;
      border-radius: 1.5rem;
    }

    @include media-query(400px) {
      width: 2rem;
      height: 2rem;
      border-radius: 1rem;
    }
  }
}

.productosHeader__listItem__nombre {
  text-align: center;

  @include media-query(960px) {
    font-size: $small-font-size;
  }

  @include media-query($on-laptop) {
    display: none;
  }
}

.productosMarcas {
  text-align: center;
  margin-bottom: 5rem;
}

.productosMarcas__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productosMarcas__listItem {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.mainProductos {
  background-color: $background-color;
}

//////////////////////////////////////////////////////////////////////////////////////////
.productosGrid {
  background-color: $background-color;
  // margin-top: -$spacing-unit;
  padding-top: $spacing-unit;
}

.productosGrid .wrapper {
  overflow: initial;
}

.productosNav {
  padding-bottom: $spacing-unit;
  text-align: center;

  button, a {
    height: 1.5rem;
    line-height: 1.5rem;
    border-radius: 0.125rem;
    font-size: 1rem;
    
    &.activo {
      background-color: $brand-color;
      color: $blanco;
    }
  }

  .mixitup-control-active {
    background-color: $blanco;
  }
}

.productosLista {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 -10px;
  padding: 0;
  margin-bottom: 3rem;
}

.producto {
  width: calc(100% / 4);
  padding: $spacing-unit / 2;
  padding-top: 0;

  @include media-query(960px) {
    width: calc(100% / 3);
  }

  @include media-query($on-laptop) {
    width: calc(100% / 2);
  }

  @include media-query(500px) {
    width: 100%;
  }
}

.productoInner__nombre {
  background-color: $brand-color2;
  padding: $spacing-unit / 2;
  min-height: 5.2667rem;

  h2 {
    margin: 0;
    color: $blanco;
    font-size: 1.2rem;
  }
}

.productoInner__descripcion {
  background-color: $blanco;
  padding: $spacing-unit / 2 $spacing-unit / 2;

  p {
    margin: 0;
  }
}

.productoInner figure {
  margin: 0;
}

.productoInner figure img {
  width: 100%;
}

.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 300ms, -webkit-filter 300ms;
}

.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}

$prev-next-size: 2rem;

.flickity-prev-next-button {
  background-color: $brand-color;
  height: $prev-next-size * 2;
  width: $prev-next-size;
  border-radius: 0;

  .arrow {
    fill: white;
  }

  .no-svg {
    color: white;
  }

  &:hover {
    background-color: $brand-color3;
  }
}

.flickity-prev-next-button.previous {
  border-top-right-radius: $prev-next-size;
  border-bottom-right-radius: $prev-next-size;
  left: 0;

  svg {
    left: 5%;
    top: 12%;
    width: 74%;
    height: 74%;
  }
}

.flickity-prev-next-button.next {
  border-top-left-radius: $prev-next-size;
  border-bottom-left-radius: $prev-next-size;
  right: 0;

  svg {
    top: 12%;
    width: 74%;
    height: 74%;
  }
}
