// App.vue
#app {
  overflow: hidden;
}

.fade-enter-active, .fade-leave-active {
  transition: all .2s ease;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
}
.move-leave-active {
	animation: moveToLeft .4s ease both;
}
.move-enter-active {
	animation: moveFromRight .4s ease both;
}
@keyframes moveToLeft {
	from { }
	to { transform: translateX(-100%); }
}
@keyframes moveFromRight {
	from { transform: translateX(100%); }
}

// Categoria.vue
.list-enter-active, .list-leave-active, .list-move {
  transition: all 0.3s;
}
.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
