.nav {
  background-color: $QS-color1;
  background-image: url('../img/celda.svg');
  background-size: 3rem auto;
  background-repeat: repeat-x;
  background-position: bottom;
}

a.nav-item {
    color: $grey-lighter;
    
    &:hover {
        color: $white;
    }
}