@charset "utf-8";

@import "parcial/reset";

$color1: rgb(147, 0, 0);
$color2: rgb(251, 175, 87);
$color3: rgb(250, 246, 245);

body {
  background-color: $color3;
}

#app {
  display: flex;
  flex-direction: column;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

#nav {
  background-color: $color1;
  
  a {
    color: $color3;
  }
}


.slide-up-enter {
  opacity: 0;
  transform: translate(0, 30px);
}
.slide-up-leave-to {
  opacity: 0;
  transform: translate(0, -30px);
}

.fade-enter-active,
.fade-leave-active {
	transition: all 0.2s ease;
}

.fade-enter,
.fade-leave-active {
	opacity: 0;
}
