@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes agua {
	0% {
		background-color: darken($brand-color2, 10%);;
	}
	50% {
		background-color: lighten($brand-color2, 10%);
	}
	100% {
		background-color: darken($brand-color2, 10%);;
	}
}