footer {
    background-color: #242424;
    overflow: auto;
    font-size: $small-font-size;
    text-align: center;
    
    .canjealo a {
        color: $text-color;
    }
    
    .icon {
        width: 2rem;
    }
}

#topsolar\.org {
    display: none;
}