/* ==========================================================================
   FORMS
   ========================================================================== */

form {
  position: relative;
}

fieldset {
  margin-bottom: 5px;
  padding: 0;
  border-width: 0;
}

input,
label,
select {
  display: block;
}

label {
  margin-bottom: 6px;
  &.required:after {
    content: "*";
  }
  abbr {
    display: none;
  }
}

input,
textarea,
select,
select[multiple=multiple] {
  appearance: none;
  box-sizing: border-box;
  transition: border-color;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid mix(#fff, #4c4c4c, 80%);
  box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.06);
  margin-bottom: $spacing-unit;
  padding: 8px 8px;
  width: 100%;
  &:hover {
    border-color: mix(#000, mix(#fff, #4c4c4c, 80%), 10%);
  }
  &:focus {
    border-color: mix(#000, #4c4c4c, 35%);
    box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.06), 0 0 5px rgba(mix(#000, mix(#000, #4c4c4c, 35%), 10%), 0.7);
    outline: none;
  }
}

select {
  text-overflow: '';
  text-indent: 0.01px;
  
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-position: 95% center;
}

select::-ms-expand {
  display: none;
}

textarea {
  resize: vertical;
}

input[type="search"] {
  appearance: none;
}

input[type="checkbox"] {
  appearance: checkbox;
  display: inline;
  width: auto;
  margin-right: $spacing-unit/3;
  margin-bottom: 0;
}

input[type="file"] {
  width: 100%;
}

form button,
input[type="submit"] {
  appearance: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

form button.boton-naranja { margin-top: $spacing-unit; }

form {
  ul,
  ol,
  li {
    padding-left: 0;
    list-style-type: none;
  }
}


/* required */

.req,
.required {
  color: mix(#4c4c4c, #dc081d, 15%) !important;
  font-weight: bold;
}


/* instructions */

.instruct {
  font-size: 0.8rem;
}


.checkbox {
  @extend %clearfix;
  
  label {
    width: 50%;
    float: left;
  
    &:first-child {
      width: 100%;
    }
  }
}

form .status {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 5rem;
  text-align: center;
  background-color: $brand-color3;
}

/* .invalid class prevents CSS from automatically applying */
.invalid input:required:invalid {
  background: #BE4C54;
}
 
/* Mark valid inputs during .invalid state */
.invalid input:required:valid {
  background: #17D654 ;
}

form .error {
  display: none;
}

form.invalid .error {
  display: block;
}

