.hide {
	display: none;
}

.icon {
	height: 1rem;
	width: 1rem;
	line-height: 1;
	fill: currentColor;
	vertical-align: middle;

	.author-social-links & {
		vertical-align: -0.15rem;
		display: inline-block;
	}
}