---
layout: principal
---
<section class="section">
<div class="container">
  <h1 class="title">Noticias</h1>
  <h2 class="subtitle">
    .
  </h2>
  <div class="columns is-multiline">
  {% for post in paginator.posts %}
  <div class="column is-one-quarter">
    <article class="card">
      <div class="card-image">
          {% include blog-image.html page=post %}
      </div>
      <div class="card-content">
        <a href="{{ post.url }}">
          <h2 class="title is-4">{{ post.title }}</h2>
        </a>
        <small>{{ post.date | date: "%d/%m/%Y" }}</small>
        <div class="content">
          {{ post.description }}
        </div>
      </div>
    </article>
    </div>
  {% endfor %}
  </div>
</div>
</section>
  
{% if paginator.total_pages > 1 %}
<section class="section">
  <div class="container">
    <nav class="pagination is-centered">
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="button pagination-next{% unless paginator.previous_page %} is-disabled{% endunless %}">
        Recientes 
      </a>
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="button pagination-previous">
      {% if paginator.next_page %}
        Anteriores
      {% endif %}
      </a>
      <ul class="pagination-list">
      </ul>
    </nav>
  </div>
</section>
{% endif %}

