---
layout: default
---

{% include partes/googleMap.html %}

<div class="wrapper">
    <h1>Ecotecnologías en {{page.nombre}}, {{page.estado}}</h1>

    <div itemscope itemtype="http://schema.org/LocalBusiness" class="sucursal-info">
        <figure itemscope itemtype="http://schema.org/ImageObject">
            <picture class="intrinsic intrinsic--square">
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source type="image/webp" srcset="{% asset_path 'sucursales/{{ page.slug }}-800px.webp' %} 800w, 
                                {% asset_path 'sucursales/{{ page.slug }}-600px.webp' %} 600w, 
                                {% asset_path 'sucursales/{{ page.slug }}-400px.webp' %} 400w, 
                                {% asset_path 'sucursales/{{ page.slug }}-300px.webp' %} 300w, 
                                {% asset_path 'sucursales/{{ page.slug }}-200px.webp' %} 200w" 
                        sizes="(min-width: 1160px) calc((1200px - (1.6667rem * 2))/3),
                                (min-width: 920px) calc((100vw - (1.6667rem * 2))/3), 
                                calc((100vw - 1.6667rem)*0.4)" />
                <source srcset="{% asset_path 'sucursales/{{ page.slug }}-800px.jpg' %} 800w, 
                                {% asset_path 'sucursales/{{ page.slug }}-600px.jpg' %} 600w, 
                                {% asset_path 'sucursales/{{ page.slug }}-400px.jpg' %} 400w, 
                                {% asset_path 'sucursales/{{ page.slug }}-300px.jpg' %} 300w, 
                                {% asset_path 'sucursales/{{ page.slug }}-200px.jpg' %} 200w" 
                        sizes="(min-width: 1160px) calc((1200px - (1.6667rem * 2))/3),
                                (min-width: 920px) calc((100vw - (1.6667rem * 2))/3), 
                                calc((100vw - 1.6667rem)*0.4)" />
                <!--[if IE 9]></video><![endif]-->
                <img itemprop="contentUrl" class="intrinsic-item" src="{% asset_path 'sucursales/{{ page.slug }}-400px.jpg' %}" alt="Ecotecnologías en {{page.nombre}}" />
            </picture>
            <meta itemprop="name" content="{{ site.title }} {{ page.nombre }}">
        </figure>
        <div class="info">
            <h2 itemprop="name" class="nombre">{{ site.title }} {{ page.nombre }}</h2>
            <span itemprop="description" class="descripcion">Venta de focos ahorradores, focos led, calentadores solares, aire acondicionado, paneles solares y todas las ecotecnologías en {{ page.nombre }}.</span>
            <div class="direccion">
                <strong>Estamos en:</strong><br>
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <span itemprop="streetAddress">{{ page.direccion1 }}{% if page.direccion2 %}<br>{{ page.direccion2 }}{% endif %}</span><br>
                    <span itemprop="addressLocality">{{ page.ciudad }}</span>, <span itemprop="addressRegion">{{ page.estado }}</span> <span itemprop="postalCode" class="codigopostal">{{ page.cp }}</span>
                </div>
                <a itemprop="hasMap" href="{{ page.gmaps }}">
                    {% img icono-mapa.svg alt:'Ver mapa' class:'icono-mapa' %}</a>
                <span itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                    <meta itemprop="latitude" content="{{ page.lat }}" />
                    <meta itemprop="longitude" content="{{ page.lng }}" />
                </span>
            </div>
            <div class="contactos">
                <strong>Contáctanos:</strong><br>
                <span itemprop="telephone">{% include partes/telefono %}</span><br>
                <a href="mailto:{{ page.correo }}" itemprop="email"><svg class="icon"><use xlink:href="#envelope-o"></use></svg> {{ page.correo }}</a><br>
                <link itemprop="url" href="{{ site.url }}{{ page.url }}">
                <a itemprop="sameAs" href="{{ page.facebook }}" class="facebook"><svg class="icon"><use xlink:href="#facebook"></use></svg></a>
                <a itemprop="sameAs" href="{{ page.gplus }}" class="googleplus"><svg class="icon"><use xlink:href="#google-plus"></use></svg></a>
            </div>
            <div class="horarios">
                <strong>Horarios:</strong><br>
                {% include partes/horario %}
            </div>
        </div>
    </div>
    <div class="contacta-suc">
        <form action="{{ site.owner.formsurl }}" method="post">
            <h3>Contacta a la sucursal de {{ page.nombre }}</h3>
            <div class="form-group">
                <label for="frm-nombre">Nombre *</label>
                <input type="text" name="nombre" id="frm-nombre" tabindex="1" required />
            </div>
            <div class="form-group">
                <label for="frm-correo">Correo *</label>
                <input type="email" name="correo" id="frm-correo" tabindex="2" required />
            </div>
            <div class="form-group">
                <label for="frm-tel">Teléfono</label>
                <input type="tel" name="telefono" id="frm-tel" tabindex="3" pattern="[0-9]*" />
            </div>
            <div class="form-group">
                <label for="frm-msg">Escribe tu mensaje:</label>
                <textarea id="frm-msg" name="mensaje" spellcheck="true" rows="5" cols="50" tabindex="4"></textarea>
            </div>
            <div class="form-group checkbox">
                <label>Marca los productos de tu interés:</label>
                <label><input name="intereses[]" type="checkbox" tabindex="5" value="Focos ahorradores">Focos ahorradores</label>
                <label><input name="intereses[]" type="checkbox" tabindex="6" value="Focos LED">Focos LED</label>
                <label><input name="intereses[]" type="checkbox" tabindex="7" value="Paneles solares">Paneles solares</label>
                <label><input name="intereses[]" type="checkbox" tabindex="8" value="Aire acondicionado">Aire acondicionado</label>
                <label><input name="intereses[]" type="checkbox" tabindex="9" value="Refrigerador">Refrigerador</label>
                <label><input name="intereses[]" type="checkbox" tabindex="10" value="Estufa">Estufa</label>
                <label><input name="intereses[]" type="checkbox" tabindex="11" value="Lavadora">Lavadora</label>
                <label><input name="intereses[]" type="checkbox" tabindex="12" value="Calentador Solar">Calentador Solar</label>
                <label><input name="intereses[]" type="checkbox" tabindex="13" value="Boiler de paso">Boiler de paso</label>
                <label><input name="intereses[]" type="checkbox" tabindex="14" value="Inodoro">Inodoro</label>
                <label><input name="intereses[]" type="checkbox" tabindex="15" value="Lavabo">Lavabo</label>
                <label><input name="intereses[]" type="checkbox" tabindex="16" value="Mezcladoras">Mezcladoras</label>
                <label><input name="intereses[]" type="checkbox" tabindex="17" value="Regaderas">Regaderas</label>
            </div>

            <input type="hidden" name="_subject" value="Contacto desde JRecotecnologia.com ({{ page.nombre }})" />
            <input type="text" name="_gotcha" style="display:none" />
            <button id="frm-enviar" type="submit" class="boton-naranja" tabindex="18">Solicitar cotización</button>
        </form>
    </div>
</div>