/**
 * Clearfix
 *
 * .wrapper {
 * 	@extend %clearfix;
 * }
 *
 */

.wrapper:after,.proveedores:after,.productos-dia:after,.productos-dia .filas:after,.sucursal-info:after,.checkbox:after {
  content: "";
  display: table;
  clear: both;
}

a:focus {
  /* default */
  outline: thin dotted #44ac64;
  /* Webkit */
  outline: 5px auto #44ac64;
  outline-offset: -2px;
}

/* ==========================================================================
   STYLE RESETS
   ========================================================================== */

html {
  /* apply a natural box layout model to all elements */
  box-sizing: border-box;
  background-color: #ffffff;
  height: 100%;
  font-size: 15px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* apply a natural box layout model to all elements */

*,*:before,*:after {
  box-sizing: inherit;
}

/* remove margin */

body {
  margin: 0;
}

/* selected elements */

::-moz-selection {
  color: #fff;
  background: #000;
}

::selection {
  color: #fff;
  background: #000;
}

/* display HTML5 elements in IE6-9 and FF3 */

figure,footer,header,main,nav {
  display: block;
}

/* display block in IE6-9 and FF3 */

video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* prevents modern browsers from displaying 'audio' without controls */

/* remove blue color */

a {
  color: inherit;
}

/* apply focus state */

/* remove outline from links */

a:hover,a:active {
  outline: 0;
}

/* prevent sub and sup affecting line-height in all browsers */

/* img border in anchor's and image quality */

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* prevent max-width from affecting Google Maps */

.google-maps img {
  max-width: none;
}

/* consistent form font size in all browsers, margin changes, misc */

button,input,select,textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

button,input {
  *overflow: visible;
  line-height: normal;
}

button::-moz-focus-inner,input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

label,select,button,input[type="button"],input[type="reset"],input[type="submit"],input[type="radio"],input[type="checkbox"] {
  cursor: pointer;
}

input[type="search"] {
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

/**
 * Basic styling
 */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #706f6f;
  -webkit-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  height: 100%;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */

h1,h2,h3,h4,h5,h6,p,ul,figure {
  margin-bottom: 0.83335rem;
}

/**
 * Figures
 */

figure > img {
  display: block;
}

/**
 * Lists
 */

ul {
  margin-left: 1.6667rem;
}

li > ul {
  margin-bottom: 0;
}

/**
 * Headings
 */

h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
}

/**
 * Links
 */

a {
  color: #44ac64;
  text-decoration: none;
}

a:hover {
  color: #706f6f;
  text-decoration: underline;
}

/**
 * Blockquotes
 */

/**
 * Wrapper
 */

.wrapper {
  max-width: calc(1200px - (1.6667rem * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.6667rem;
  padding-left: 1.6667rem;
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: calc(1200px - (1.6667rem));
    padding-right: 0.83335rem;
    padding-left: 0.83335rem;
  }
}

/*
   Fade-in
   ========================================================================== */

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.site-header {
  position: relative;
  width: 100%;
  background-color: #fff;
  z-index: 3;
}

.site-header .topbar {
  height: 1.6667rem;
  background-color: #44ac64;
}

.site-header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.site-header .wrapper:after {
  content: none;
}

.site-header .logotipo {
  padding: 0.55rem 0;
}

.site-header .logotipo img {
  display: block;
  width: 11.57rem;
  height: 4.45rem;
}

.site-header #menu {
  margin: 0;
  padding: 0;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.site-header #menu > li {
  list-style: none;
  height: 5.45rem;
  position: relative;
}

.site-header #menu > li .site-header__menu-item {
  position: relative;
  display: block;
  line-height: 5.45rem;
  margin: 0 0 0 2px;
  padding: 0 1rem;
  color: #706f6f;
  text-decoration: none;
  /* underline effect */
  /* active state */
}

.site-header #menu > li .site-header__menu-item:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 5.45rem;
  width: 100%;
  background-color: #44ac64;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.32, 0, 0, 1);
  transition: -webkit-transform 300ms cubic-bezier(0.32, 0, 0, 1);
  transition: transform 300ms cubic-bezier(0.32, 0, 0, 1);
  transition: transform 300ms cubic-bezier(0.32, 0, 0, 1), -webkit-transform 300ms cubic-bezier(0.32, 0, 0, 1);
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}

.site-header #menu > li .site-header__menu-item.activo {
  color: #fff;
  cursor: default;
}

.site-header #menu > li .site-header__menu-item.activo:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.site-header #menu > li:hover .site-header__menu-item {
  color: #fff;
}

.site-header #menu > li:hover .site-header__menu-item:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.site-header #menu > li:hover a + div {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  opacity: 1;
}

.site-header #menu > li a + div {
  position: absolute;
  top: 5.45rem;
  white-space: nowrap;
  background-color: #fff;
  border-top: 3px solid #44ac64;
  -webkit-transition: opacity 300ms linear, -webkit-transform 300ms cubic-bezier(0.32, 0, 0, 1);
  transition: opacity 300ms linear, -webkit-transform 300ms cubic-bezier(0.32, 0, 0, 1);
  transition: transform 300ms cubic-bezier(0.32, 0, 0, 1), opacity 300ms linear;
  transition: transform 300ms cubic-bezier(0.32, 0, 0, 1), opacity 300ms linear, -webkit-transform 300ms cubic-bezier(0.32, 0, 0, 1);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  opacity: 0;
}

.site-header #menu > li a + div > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-header #menu > li a + div > ul li {
  border-bottom: 1px solid #e8e8e8;
}

.site-header #menu > li a + div > ul li:last-child {
  border-bottom: none;
}

.site-header #menu > li .submenu .site-header__submenu-item {
  padding-right: 1.6667rem;
  padding-left: 0.83335rem;
  color: #706f6f;
}

.site-header #menu > li .submenu .site-header__submenu-item svg {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
}

.site-header #menu > li .submenu:hover .site-header__submenu-item {
  color: #44ac64;
  text-decoration: none;
}

.subheader {
  background: url("/assets/subheader.jpg");
  background-size: cover;
  position: relative;
  margin-bottom: 1.6667rem;
  padding: 1.6667rem 0;
}

.subheader:after {
  content: '';
  background: rgba(239, 168, 13, 0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.subheader .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.subheader .wrapper:after {
  content: none;
}

.subheader .wrapper .page-info {
  position: relative;
  z-index: 1;
}

.subheader .wrapper .page-info h1 {
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}

.subheader .wrapper .breadcrumbs {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
}

.subheader .wrapper .breadcrumbs .icon {
  margin-bottom: -2px;
}

.subheader .wrapper .breadcrumbs a {
  color: #fff;
  text-decoration: none;
}

.boton-naranja {
  height: 3rem;
  background-color: #efa707;
  border: 0;
  border-radius: 0.625rem;
  text-transform: none;
  color: #ffffff;
  padding: 0.625rem 1.75rem;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 400;
  position: relative;
}

.boton-naranja:hover {
  color: #ffffff;
  background-color: #d69606;
  text-decoration: none;
}

.intrinsic {
  display: block;
  position: relative;
  height: 0;
  width: 100%;
  padding-top: 100%;
  background: #f0f0f0;
}

.intrinsic.intrinsic--square {
  padding-top: 100%;
}

.intrinsic.intrinsic--4x3 {
  padding-top: 75%;
}

.intrinsic.intrinsic--16x9 {
  padding-top: 56.25%;
}

.intrinsic .intrinsic-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dos-tercios {
  width: 66.66666666%;
  float: left;
  padding-right: 1.6667rem;
}

.frm-der-nar {
  float: right;
  width: 33.33333333%;
  background-color: #f9b258;
  border: 30px solid #f9b258;
  margin-bottom: 20px;
}

@-webkit-keyframes agua {
  0% {
    background-color: #36415a;
  }

  50% {
    background-color: #5c6f9a;
  }

  100% {
    background-color: #36415a;
  }
}

@keyframes agua {
  0% {
    background-color: #36415a;
  }

  50% {
    background-color: #5c6f9a;
  }

  100% {
    background-color: #36415a;
  }
}

.svg-wrapper {
  height: 100vh;
  margin-top: -7.2167rem;
  padding-top: 7.2167rem;
  margin-bottom: -5.2834rem;
  padding-bottom: 5.2834rem;
  background-color: #435277;
  -webkit-animation-name: agua;
  animation-name: agua;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.svg-wrapper .wrapper {
  height: 100%;
  position: relative;
  padding-top: 1.6667rem;
  padding-bottom: 1.6667rem;
}

.svg-wrapper #afueraMapa div {
  height: 100%;
  width: 60%;
  -webkit-animation: fade-in 3s;
  animation: fade-in 3s;
}

.svg-wrapper svg {
  height: 100%;
  width: 100%;
}

.svg-wrapper h1 {
  margin: 0;
  margin-right: 1.6667rem;
  position: absolute;
  left: 50%;
  top: 20%;
  font-size: 1.4rem;
  font-weight: 400;
  color: #ffffff;
}

.svg-wrapper .boton-naranja {
  position: absolute;
  left: 50%;
  top: calc(20% + 4.5rem);
}

.proveedores {
  background-color: #49587a;
}

.proveedores .wrapper {
  position: relative;
  overflow: auto;
  max-width: calc(1200px - (1.6667rem * 8));
  text-align: center;
}

.proveedores h2 {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 300;
  color: #ffffff;
  margin-top: 1.6667rem;
  margin-bottom: 1.6667rem;
}

.proveedores .boton-naranja {
  margin: auto;
  position: absolute;
  right: 30px;
  left: auto;
  top: 0;
  bottom: 0;
}

.h_gde {
  position: relative;
  margin: 3rem 0 0.83335rem 0;
  padding: 0 0 0.83335rem 0;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}

.h_gde:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 4.5rem;
  height: 3px;
  background-color: #e8e8e8;
}

.h_gde + p {
  margin-top: 0.83335rem;
}

.h_gde.blanco {
  color: #ffffff;
  margin: 0;
}

.h_gde.blanco:after {
  content: none;
}

.tu-vale {
  text-align: center;
}

.tu-vale .valores {
  text-align: left;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.tu-vale .valores .valor {
  padding-right: 5%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  width: 33.333%;
  min-width: 340px;
}

.tu-vale .valores .valor .icon {
  color: #828282;
  margin-top: 1.1rem;
  height: 1.5rem;
  width: 1.5rem;
  float: left;
}

.tu-vale .valores .valor h3 {
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 0;
  padding-left: 2rem;
}

.tu-vale .valores .valor p {
  margin-top: 0;
  padding-left: 2rem;
}

.tu-vale .boton-naranja {
  display: inline-block;
  margin-bottom: 3rem;
}

.productos-dia {
  text-align: center;
  background-color: #f6f6f6;
  border-top: 1px solid #e8e8e8;
  position: relative;
}

.productos-dia .filas {
  margin-bottom: 1.6667rem;
}

.productos-dia .filas .rama svg {
  display: inline-block;
  line-height: 1;
  width: 6rem;
  height: 6rem;
  background-color: #44ac64;
  border-radius: 3rem;
  fill: #ffffff;
}

.productos-dia .filas .rama h3 {
  margin: 0;
}

.productos-dia .filas.fila-01 .rama {
  width: initial;
  display: inline-block;
  float: none;
  margin: 0 1.6667rem;
}

.productos-dia .filas.fila-02 .rama {
  width: 50%;
  float: left;
}

.productos-dia .filas.fila-03 div:first-child {
  width: initial;
  float: left;
}

.productos-dia .filas.fila-03 div:last-child {
  width: initial;
  float: right;
}

#planeta-ciudad {
  position: absolute;
  bottom: -20.8vw;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 40vw;
  height: 40vw;
  z-index: 4;
}

.productos-noche {
  text-align: center;
  background-color: #49587a;
}

.productos-noche .wrapper {
  position: relative;
  padding-top: 18vw;
  overflow: hidden;
}

.productos-noche .wrapper #fondo-estrellas {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 0;
}

.productos-noche .wrapper .cotiza {
  position: relative;
  z-index: 1;
  margin-bottom: 3.3334rem;
}

.productos-noche .wrapper .cotiza form {
  margin: 0 auto;
  color: #ffffff;
}

.productos-noche .wrapper .cotiza form .frm-grupo {
  text-align: left;
  width: 46%;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
}

.productos-noche .wrapper .cotiza form button {
  margin-top: 1.6667rem;
}

.estado {
  /* fill: #44AC64; */
  fill: #fdfaec;
  stroke-width: 0.25;
  stroke: #727272;
  -webkit-transition: fill .9s ease-out;
  transition: fill .9s ease-out;
}

.estado:hover {
  fill: #efa707;
  /*fill: #44ac64;*/
}

#sucursales .pin {
  stroke-width: 0;
}

#sucursales .circulo1 {
  stroke-width: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#sucursales .rect1 {
  stroke-width: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#sucursales .circulo2 {
  fill: #fff;
  stroke-width: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#sucursales .rect2 {
  fill: #fff;
  stroke-width: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#sucursales .circulo3 {
  fill: #fff;
  stroke-width: 0;
}

#sucursales a {
  text-decoration: none;
}

#sucursales text {
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  font-size: 18px;
  fill: #000;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.sucursales {
  text-align: center;
}

.sucursales ul {
  margin: 0 -1rem 0 -1rem;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

@media screen and (max-width: 768px) {
  .sucursales ul {
    margin: 0 -0.83335rem 0 -0.83335rem;
  }
}

.sucursales ul li {
  position: relative;
  padding: 0 1rem 2rem 1rem;
  list-style: none;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  width: 25%;
  min-width: 220px;
  max-width: 25%;
}

@media screen and (max-width: 920px) {
  .sucursales ul li {
    max-width: 33.333%;
  }
}

@media screen and (max-width: 768px) {
  .sucursales ul li {
    padding: 0 0.83335rem 1.6667rem 0.83335rem;
  }
}

@media screen and (max-width: 677px) {
  .sucursales ul li {
    max-width: 50%;
  }
}

@media screen and (max-width: 457px) {
  .sucursales ul li {
    min-width: 150px;
  }
}

.sucursales ul li h3 {
  position: absolute;
  bottom: 2rem;
  margin: 0;
  padding: 1rem;
  color: #fff;
}

#map {
  height: 250px;
  border-bottom: 3px solid #d7d7d7;
}

.sucursal-info {
  float: left;
  width: 33.3333333%;
  font-size: 14px;
  margin-bottom: 1.6667rem;
  position: relative;
}

.sucursal-info figure {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .sucursal-info {
    width: 40%;
  }
}

@media screen and (max-width: 660px) {
  .sucursal-info {
    width: 100%;
  }

  .sucursal-info figure {
    float: left;
    width: 40%;
    margin-right: 0.83335rem;
  }

  .sucursal-info .info {
    width: 100%;
  }

  .sucursal-info .info h2 {
    margin-top: 0;
  }
}

.sucursal-info .nombre {
  display: block;
}

.sucursal-info .descripcion {
  display: block;
}

.sucursal-info .codigopostal:before {
  content: "C.P. ";
}

.sucursal-info .direccion {
  position: relative;
}

.sucursal-info .direccion div {
  width: 100%;
  padding-left: 3.8rem;
}

.sucursal-info .direccion a {
  display: block;
  position: absolute;
  left: 0;
  bottom: 5px;
}

.sucursal-info .direccion .icono-mapa {
  width: 3.3rem;
}

@media screen and (max-width: 660px) {
  .sucursal-info .direccion div {
    padding-right: 3.8rem;
    padding-left: 0;
  }

  .sucursal-info .direccion a {
    left: auto;
    right: 0;
  }
}

.sucursal-info .contactos svg {
  width: 1.6rem;
  margin-bottom: -2px;
}

.sucursal-info .contactos .facebook {
  color: #3b5998;
}

.sucursal-info .contactos .googleplus {
  color: #dd4b39;
}

.contacta-suc {
  float: left;
  width: 66.6666666%;
  padding: 0 1.6667rem 1.6667rem 1.6667rem;
}

@media screen and (max-width: 768px) {
  .contacta-suc {
    width: 60%;
  }
}

@media screen and (max-width: 660px) {
  .contacta-suc {
    width: 100%;
  }
}

.contacta-suc h3 {
  margin-top: 0;
}

.puerquito {
  width: 180px;
  float: left;
  margin-right: 1.6667rem;
}

.paso {
  padding: 1px 40px 20px 40px;
  margin-bottom: 20px;
  border-radius: 15px;
  color: #ffffff;
}

.paso a {
  color: #ffffff !important;
  text-decoration: underline;
}

.paso h3 {
  font-size: 2rem;
}

.paso.paso01 {
  background: #8470b0;
}

.paso.paso02 {
  background: #ef7c7c;
}

.paso.paso03 {
  background: #58ba9e;
}

.hide {
  display: none;
}

.icon {
  height: 1rem;
  width: 1rem;
  line-height: 1;
  fill: currentColor;
}

/* ==========================================================================
   FORMS
   ========================================================================== */

input,label,select {
  display: block;
}

label {
  margin-bottom: 6px;
}

label.required:after {
  content: "*";
}

input,textarea,select,select[multiple=multiple] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  -webkit-transition: border-color;
  transition: border-color;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dbdbdb;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  margin-bottom: 12px;
  padding: 8px 8px;
  width: 100%;
}

input:hover,textarea:hover,select:hover,select[multiple=multiple]:hover {
  border-color: #c5c5c5;
}

input:focus,textarea:focus,select:focus,select[multiple=multiple]:focus {
  border-color: #313131;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(44, 44, 44, 0.7);
  outline: none;
}

select {
  text-overflow: '';
  text-indent: 0.01px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: 95% center;
}

select::-ms-expand {
  display: none;
}

textarea {
  resize: vertical;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline;
  width: auto;
  margin-right: 0.55557rem;
  margin-bottom: 0;
}

input[type="file"] {
  width: 100%;
}

form button,input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

form button.boton-naranja {
  margin-top: 1.6667rem;
}

form ul,form li {
  padding-left: 0;
  list-style-type: none;
}

/* required */

.required {
  color: #c61224 !important;
  font-weight: bold;
}

/* instructions */

.checkbox label {
  width: 50%;
  float: left;
}

.checkbox label:first-child {
  width: 100%;
}

footer {
  background-color: #242424;
  overflow: auto;
}